[2019-09-09 16:12] gsommavilla opened #426 "Is "queryParams.session" a misprint in samples/detect.js?"
# Is "queryParams.session" a misprint in samples/detect.js?

In the "Streaming detect intent" sample code at https://github.com/googleapis/nodejs-dialogflow/blob/master/samples/detect.js there is a definition that I don't understand:

[code]

The "session" key inside "queryParams" looks like an exact copy of the "session" key above (the brother of "queryParams").

Also the fact that its value is c

[2019-09-09 16:29] callmehiphop commented on #426
Looking over the proto files, it looks like `session` is not a valid option for query params, so I'm going to go ahead and say it is a mistake. Thanks for bringing this to our attention!

[2019-09-09 19:14] callmehiphop commented on #418
Since this is likely a backend issue and it has been pretty quiet here, I'm going to close this out. Please let us know if this is a mistake and we'll be happy to re-open!

[2019-09-09 19:14] #418 closed

[2019-09-09 19:20] callmehiphop commented on #413
👋 @jdelman I think this should be fixed in our latest release (v0.11.0), please let us know if that is not the case or if you run into any new issues. Thanks for opening an issue about this!

[2019-09-09 19:20] #413 closed

[2019-09-09 23:43] ushypocrites commented on #405
hi is there any resolution to the first error by gabrielgou? i have the same issue and not sure what to do. do you have a recipe to get around the issue?

[2019-09-09 23:48] ushypocrites commented on #405
The link doesn't lead to anymore, can you post a recipe on how to make dialogflow v2 work for browsers? Thanks.

[2019-09-10 00:05] alexander-fenster commented on #405
Hey folks @ushypocrites @gabrielgouv,

**TL;DR:** this library is supposed to be used from a server-side Node.js application, not from any front-end environment such as a browser, Electron app, React, (name your front-end framework here).  If you just run the code by plain regular Node.js, it will work.

Having said that - we do have experimental support for a browser use case starting from the la

[2019-09-10 00:16] #426 closed

[2019-09-10 15:31] ushypocrites commented on #405
@alexander-fenster Thanks so much for this! I will give it a try. The use case is a chat window in a react js website (not app) on a regular browser. I do see a few websites that have a chat UI and use dialogflow so i am wondering how they are able to do this.

[2019-09-10 16:57] alexander-fenster commented on #405
@ushypocrites There are at least five options how they can do it!

1. As above (I bet nobody uses it this way as for now since it was released just yesterday and not yet documented, other than in this issue :) )

2. They might use server side (backend) script. That's probably the easiest option.

3. They might use our other library, [googleapis](https://www.npmjs.com/package/googleapis). It suppor

[2019-09-10 18:01] ushypocrites commented on #405
Thanks so much! That's very useful. I am now considering 2) and perhaps using firebase. Do you have any comments about firebase? does the conversation context and intent get lost if there are long pauses between requests?

[2019-09-10 18:13] gabrielgouv commented on #405
Nice. I will try to use later. Im currently transitioning my current front end code (which used the REST API) to my back end.

[2019-09-10 18:17] alexander-fenster commented on #405
@ushypocrites Firebase (cloud functions) is totally fine, and this library will work in cloud functions.

As for losing the context and intent because of the long pause, I unfortunately don't know the details of the specific API (I do work on client libraries in general, not the particular Dialogflow API). [This doc](https://cloud.google.com/dialogflow/docs/contexts-input-output) has some informat

[2019-09-11 13:29] ushypocrites commented on #405
Thank you!

[2019-09-13 10:14] kostaskat opened #428 "Service continuity during agent update"
For the purpose of service design, can you please comment on the below issue:

**When updating an agent (via calling the importAgent or restoreAgent and then the trainAgent/setAgent), how does Dialogflow treat on-going sessions**, i.e. _sessions that were either existing before triggering the agent update or sessions that were initiated before the agent update completed_?

Are on-going sessions ro

[2019-09-13 18:01] charlesj opened #429 "Memory Usage Increasing without Limit"
#### Environment details

  - OS: Linux
  - Node.js version: 10.16.3
  - npm version: 6.9.0
  - `dialogflow` version: 0.11.0

#### Steps to reproduce

  1. Upgrade to version 0.11.0 from version 0.8.2
  2. Allow service to run, making calls to `detectIntent`
  3. Obverse memory usage stair-stepping up over time.

Reproducable code:

[code]

Running this code against version 0.8.2 and observing the

[2019-09-16 11:17] callmehiphop commented on #428
👋 @kostaskat I'm not sure how often the Dialogflow team looks through issues here, but you'll probably have better luck getting this answered over in the [product tracker](https://cloud.google.com/support/docs/issue-trackers). If you get an answer, please feel free to come back and link it! Thanks! And sorry I couldn't be of more help here ☹️

[2019-09-16 11:17] #428 closed

[2019-09-18 09:13] MathiasSchrooten commented on #291
@shekit were you able to figure this out?

[2019-09-19 07:06] k-takeuchi220 opened #434 "Invalid JSON payload received.が出てしまい、値が送信できない"
`'use strict';

const {google} = require('googleapis');
const uuid = require('uuid');
const path = require('path');

async function runSample () {

  const client = await google.auth.getClient({
    keyFile: path.join(__dirname, 'key.json'),
    scopes: 'https://www.googleapis.com/auth/dialogflow'
  });

  const dialogflow = google.dialogflow({
    version: 'v2',
    auth: client,
  });

 const re

[2019-09-20 11:30] yoshi-automation opened #435 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3ddb8dc7-5ca4-4b84-bc9b-a8c9b889d4ca).

[2019-09-24 02:52] MumblesNZ commented on #374
Hey @sv2 it looks like singleUtterance on the StreamingDetectIntentRequest level is deprecated, and now only supports it on the InputAudioConfig level. I.E:
[code]

See https://cloud.google.com/dialogflow/docs/reference/rpc/google.cloud.dialogflow.v2#google.cloud.dialogflow.v2.StreamingDetectIntentRequest.FIELDS.string.google.cloud.dialogflow.v2.StreamingDetectIntentRequest.session.

[2019-09-24 04:45] sv2 commented on #374
Thank you!

[2019-09-27 11:32] yoshi-automation commented on #435
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/158e7b8d-9923-4ea8-9bd7-eb9ef649a975).

[2019-09-28 11:31] yoshi-automation commented on #435
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/35c44e5b-72c4-44fe-93df-dbafa04f1faf).

[2019-09-29 11:07] yoshi-automation commented on #435
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/61a8464f-b488-4529-8bf3-d142497534f6).

[2019-09-30 11:07] yoshi-automation commented on #435
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/0ff1e2e6-76ba-4f67-9404-5e4a46d28705).

[2019-09-30 23:47] bcoe commented on #291
@shekit we've made a few fixes around authentication, I'm also curious if you're continuing to bump into these issues.

[2019-10-01 11:39] yoshi-automation commented on #435
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/8fc1896e-3b08-48df-bc8e-f7f89a3f6264).

[2019-10-02 11:11] yoshi-automation commented on #435
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/6962f397-9d10-41c7-b941-b89ae5375621).

[2019-10-03 11:10] yoshi-automation commented on #435
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b5690629-b96c-4a1d-bff1-05fee95d56e5).

[2019-10-03 16:58] ecommercebot opened #442 "Update "Transfer Call" field from backend ( Node.js )"
Hi there
I try to update Transfer Call field for given intent  but I cannot
More to say  - new update removes old Transfer Call field with the phone number
Here is example code:

[code]

[2019-10-03 21:29] bcoe commented on #442
@ecommercebot 👋 I don't completely follow the issue you're bumping into. Could you share the specific exception that you're getting when you try to update the field?

[2019-10-04 08:42] Istorn commented on #422
Is there anyone could help me?!

[2019-10-04 08:43] Istorn commented on #416
Is there anyone could help me?!

[2019-10-04 15:24] Istorn opened #444 "Intent creation with multiple training phrases having same parameter, creates the mentioned parameter as list"
I'm creating an intent with two different training phrases containing the same parameter.

As follows:

[code]

Besides uncorrect JSON notation that might be here, as you can see "Silvia" and "Marco" are always referring to the same parameter that's "nome".

Once I load everything, the parameter is created as a list:

![Schermata 2019-10-04 alle 17 17 51](https://user-images.githubusercontent.com/

[2019-10-04 16:22] bcoe commented on #416
:wave: hey @Istorn, I'm looping in @nnegrey who knows more about this library than myself.

In some of these cases it sounds like it might be upstream API behavior, and it might be worth also raising an issue here:

https://issuetracker.google.com/savedsearches/5300385

[2019-10-04 16:28] bcoe commented on #442
@ecommercebot since the issue is with the UI, I think this might be a problem with the upstream API (not the client library). I think it might be worth opening an issue with this information, here:

https://issuetracker.google.com/savedsearches/5300385

[2019-10-04 16:55] nnegrey commented on #416
You might be missing a nested `text` object:

[code]

But is the issue with the messages or the parameters?

[2019-10-04 17:41] nnegrey commented on #444
A `Part` doesn't know about `isList`
https://cloud.google.com/dialogflow/docs/reference/rpc/google.cloud.dialogflow.v2#google.cloud.dialogflow.v2.Intent.TrainingPhrase.Part

Only the Parameter does.
When you create the parameter, you should mark `isList: false` then.
https://cloud.google.com/dialogflow/docs/reference/rpc/google.cloud.dialogflow.v2#parameter

[2019-10-04 17:41] #444 closed

[2019-10-04 17:44] nnegrey commented on #429
Just a quick look.
You're creating a bunch of new clients, but never closing them might be the issue.
If you're finished with a client it should always be closed.

[2019-10-04 17:45] nnegrey commented on #422
This looks like a duplicate of https://github.com/googleapis/nodejs-dialogflow/issues/416, if not, please feel free to re-open.

[2019-10-04 17:45] #422 closed

[2019-10-04 17:46] nnegrey commented on #412
Dialogflow should be able to hit external APIs for fulfillment, but you have to configure it yourself.

Docs: https://cloud.google.com/dialogflow/docs/fulfillment-overview

[2019-10-04 17:48] nnegrey commented on #395
Have you tried with one of the provided audio files?
https://github.com/googleapis/nodejs-dialogflow/tree/master/samples/resources

[2019-10-04 17:52] nnegrey commented on #385
I believe Dialogflow only holds such information for 20 minutes whether that be in Sessions or Contexts.

[2019-10-04 17:52] #385 closed

[2019-10-04 17:55] nnegrey commented on #394
Is this using a sample and is it streaming?
If so, the streaming sample has `singleUtterance: true,`

Set that to `false`.

From the docs: https://cloud.google.com/dialogflow/docs/reference/rpc/google.cloud.dialogflow.v2#inputaudioconfig
"""
Optional. If false (default), recognition does not cease until the client closes the stream. If true, the recognizer will detect a single spoken utterance in

[2019-10-04 17:55] #394 closed

[2019-10-05 08:42] Istorn opened #445 "Output and Input Context for Intents: setting them once they're created is not working"
After have read documentation, I've understood that we must create an intent before setting its output and input context through API.

And that is what I did.

I created this async function, invoke in the intent creation's callback, to be totally sure the intent exists in the agent.

Indeed, the parameter of this function is the intent itself returned from Google with its all attributes, I can see

[2019-10-07 14:15] charlesj commented on #429
How is one supposed to close a client?

Looking through the [documentation](https://github.com/googleapis/nodejs-dialogflow) doesn't show anything.  The sample code for detecting an intent is available on that page, and it's almost exactly like mine.  It does not show anything related to closing the clients.

I did the naive thing and tried to call `close` on the client.  It does not have such a m

[2019-10-07 18:52] callmehiphop commented on #429
@charlesj unfortunately I don't think the close method is exposed at this time. I would suggest creating a single client outside of your loop and re-using it.

[2019-10-07 19:54] bcoe commented on #429
@charlesj does creating the client outside of the loop do the trick for you, this is the approach we tend to recommend to folks (instantiate the client once, and use it multiple times).

[2019-10-07 20:03] charlesj commented on #429
Yes, we can make this work.  We work with many different projects, but I think plugging in a cache keyed to the project id will handle it.  In the past, on `.8.*` it did not matter, so when memory usage went crazy after upgrading to `.11.*+`, it stood out as problematic.

The state that is causing the memory to increase is completely hidden from our view, and at it's core it looks like it should j

[2019-10-07 20:52] bcoe commented on #429
@callmehiphop do you think this memory issue might also be related to us not caching HTTP agents? or unrelated.

[2019-10-08 16:09] danjenkins commented on #418
@callmehiphop I've got exactly the same issue - just spent the past 2 hours thinking my code was wrong. Happens on v2 and v2beta1. Is there some way to enable debugging to see the actual grpc result and not what's seen through the stream interface?

[2019-10-08 16:19] callmehiphop commented on #418
@danjenkins I think the following env vars used to work, but I'm not 100% if they still do or not

[code]

[2019-10-08 16:21] danjenkins commented on #418
Thanks @callmehiphop - I'll give that a quick go now.

[2019-10-08 16:28] danjenkins commented on #418
Doesn't seem to give me what I need unfortunately. Gives me connecting debug but no actual results from the underlying transport for results to streamingDetectIntent

I'm setting all the right things in my initial streaming settings

[code]

I even have text to speech enabled in the agent config so it should be giving me back the results

[code]

[2019-10-08 16:40] danjenkins commented on #418
Oh and here's the response to when I half close the stream (close writing)

[code]

[2019-10-08 16:46] mwoop commented on #418
@danjenkins,

I was running into the same issue and unfortunately the documentations for v2 and v2beta1 are both a bit misleading. However: the audio result is included AFTER you receive the queryResult message. You will need to wait one more message and it will be there ;-)

Good luck!

[2019-10-08 16:50] danjenkins commented on #418
@mwoop interesting.... how do i make that event come in? right now I'm streaming audio up, i get back my transcript as and when, then i get a final transcript and I end the stream so that it's not writeable any more (but I haven't destroyed it because I still want to read from it), that in turn allows the intent data to come in without audio data and then that's it - theres no more data?

[2019-10-08 16:54] mwoop commented on #418
There should be one more message coming in after you receive the query result. Don't close the stream.

[2019-10-08 16:58] danjenkins commented on #418
AAHHHHH I was doing exactly that, closing and creating a new stream - wrote it hours ago - completely forgot about it. that logic is weird! thanks @mwoop !!

[2019-10-08 18:19] callmehiphop commented on #429
@bcoe unrelated, afaik we don't use teeny-request in any of the grpc clients.

[2019-10-08 21:49] nnegrey commented on #445
You're using the intent's displayname as the name of the `output_context`

A `Context` object has a specially formatted name, as shown in the error.
https://cloud.google.com/dialogflow/docs/reference/rpc/google.cloud.dialogflow.v2#google.cloud.dialogflow.v2.Context

You'll have to also create a context and use it's `name` field.

[2019-10-09 07:21] mlinvilleengler commented on #445
it seems counter-intuitive that the name of the context is a full path. I would imagine that name would be the context display name. is the context id the context display name? if not where do we get the context id? Some additional docs on how to add context to calls with the node dialogflow client would be awesome!

[2019-10-09 13:02] giannidhooge commented on #277
Changing it to a string also fixed the issue here.
Strange that the official docs and example are saying the following:

See: https://github.com/googleapis/nodejs-dialogflow/blob/74ef7f70505e69c4a548f3a327a2ba7520f42611/samples/detect.js#L33

[2019-10-09 15:11] nnegrey commented on #445
The `name` field for Dialogflow is typically always the full path.

While if the object has a `display_name` field (like an intent object does) then it would just be the display_name.

The `context_id` is something you create. (similar to a `session_id`)

From the [docs](https://cloud.google.com/dialogflow/docs/reference/rpc/google.cloud.dialogflow.v2#google.cloud.dialogflow.v2.Context):
"""
The C

[2019-10-11 04:52] dcsan opened #448 "turn off debug"
with the dialog-flow v2 module there seems to always be tons of debug when responding to webhooks.

Request
Response
Conversation

etc.

Is there a way to turn this off? Its not responding to the debug module flags

[2019-10-11 07:40] akirilyuk opened #449 "[BUG] Dialogflow Session Client fails to initialize since Version 0.11.0"
#### Environment details

  - OS: Mac OS 10.14.6
  - Node.js version: 10.16.0
  - npm version: 6.9.0
  - `dialogflow` version: since 0.11.0, currently 0.12.0

#### Minimal code to reproduce

[code]

[code]

These tests fail with the following error:

Same setup with dialogflow 0.10.3 works without any problem.

[2019-10-14 15:31] #416 closed

[2019-10-14 15:33] #395 closed

[2019-10-14 15:33] #445 closed

[2019-10-14 19:17] bcoe commented on #449
@akirilyuk try:

[code]

[2019-10-14 21:07] akirilyuk commented on #449
@bcoe  @callmehiphop thx, issue resolved after I cleaned and fresh installed all dependencies

[2019-10-14 21:35] bcoe commented on #449
@akirilyuk awesome :tada: let us know if you bump into any more problems in the future.

[2019-10-14 21:35] #449 closed

[2019-10-14 22:33] freewil commented on #22
I ran into a similar issue here. It appears the client instances are not designed to be long-living, although that is an issue for web servers or other processes serving a large number of requests, if instantiating them comes with a significant performance hit.

I don't believe this is relevant to the issue as it doesn't appear the client instances store any session/user-specific state. Something

[2019-10-16 17:13] jdelman opened #450 "Long-running operation promise never resolves"
Calls to endpoints with long-running operations return an array with an operation object and an API response. You are supposed to be able to call `operation.promise()` which should resolve when the operation completes. In the scenario where the API response object's `done` property is set to `true` (in other words, the operation completed immediately), the promise never resolves.

#### Environment

[2019-10-16 17:33] bcoe commented on #450
Hey @jdelman a few questions for you:

1. what runtime environment are you running in (Cloud Functions, Kubernetes Engine, App Engine?).
2. is this happening intermittently, some of the time?

[2019-10-16 18:08] jdelman commented on #450
@bcoe -

1. Running in a local development environment inside Docker right now.
2. It does seem to happen intermittently - it seems to depend on the size or complexity of the agent imported, as some agents take longer and therefore do not return `done: true` with the initial response from `importAgent`.

[2019-10-17 12:43] jdelman commented on #380
@patrick-zimmermann With the V2 API, you can call the `setAgent` method: https://github.com/googleapis/nodejs-dialogflow/blob/master/src/v2/agents_client.js#L315

[2019-10-17 18:42] #380 closed

[2019-10-18 19:38] bcoe commented on #450
@alexander-fenster any thoughts on this? I haven't played much with long-running operations, any additional debugging information that might be useful.

[2019-10-18 20:35] alexander-fenster commented on #450
@bcoe I reproduced it just by adding a unit test on this condition in `google-gax`. It's amazing that it's the first time it's reported :)  I will fix it today.

[2019-10-18 21:54] alexander-fenster commented on #450
@jdelman I was too fast stating that - it was some other problem that caused that failure for me. It actually works both in my unit test and when I try running the test code with an actual gRPC server returning an actual `Operation` with `done` set to `true`.

I will try reproducing it with dialogflow library and `importAgent` call as you suggest, and will let you know.

[2019-10-20 06:57] urosran commented on #405
@alexander-fenster thank you for explaining this in such depth! Very nice to understand why something doesn't work after a day of trying to make it work.

It may be useful to put a note in the docs that the support for browsers is not available :)

[2019-10-20 19:56] alexander-fenster commented on #405
@urosran ...it now works with browsers :)  Unfortunately, no docs and samples yet, so we don't advertise it until we have everything ready. Long story short, as I wrote above, create an instance of `OAuth2Client` from `google-auth-library`, pass it to the client constructor, and it will work in browser.

If you tell me a little bit more about your use case (if it's an Electron app, or web page, or

[2019-10-22 05:21] naresht1710 commented on #405
I had similar issue connecting Firestore, im trying to connect with service account from client side(browser) runs on nodejs, here is the code snippet

[code]
i have got below error
`
Uncaught (in promise) Error: {"clientConfig":{},"port":443,"servicePath":"firestore.googleapis.com","credentials":{"private_key":"-----BEGIN PRIVATE KEY-----\nMIIEvgIB......X\n-----END PRIVATE KEY-----\n","client_ema

[2019-10-22 10:29] vchopDev commented on #402
@arielschvartz Thanks a lot man!!!

[2019-10-27 16:25] jinsun1117 commented on #405
@alexander-fenster  Hi. Different API, but could you help me out?
I'm building a Django backend-React frontend application that will use Vision API on images submitted through the frontend.

My understanding is that the API can be called in two ways 1) [client library](https://cloud.google.com/vision/docs/quickstart-client-libraries) and 2) [HTTP request through REST](https://cloud.google.com/visi

[2019-11-01 00:55] ajimen94 commented on #405
Hi @alexander-fenster, thanks so much for your help so far. I am trying to get dialogflow to work on my react app. I was able to authenticate thanks to the steps you provided above, however, I come across an issue with CORS shown below.

<img width="1415" alt="Screen Shot 2019-10-31 at 5 51 50 PM" src="https://user-images.githubusercontent.com/39566236/67995346-32471280-fc07-11e9-9f2f-99d8cff9b1e0

[2019-11-01 06:09] alexander-fenster commented on #405
@ajimen94 From what I understand about CORS (and Chrome - I suspect you might be using Chrome/Chromium, right?) it might not play well with CORS when your origin is `http://localhost:8080`. Any chance you can try using some real domain name?  (even a fake one, through `/etc/hosts` or a local DNS server, should be better)

You can also try this to disable CORS in `gaxios` (I haven't tried it but mi

[2019-11-07 09:45] jerem-g commented on #20
Hi everyone, any news on this?

I also have the same issue, I can't make it work with a proxy. The http_proxy environment variable is set and I can't downgrade to version 0.8.2 (otherwise it does not build with the node version available on my environment).
What can I do to make this module work with a proxy?

[2019-11-08 21:30] amammay commented on #20
@jerem-g looks like there is open issue over on https://github.com/grpc/grpc-node/issues/1005 that will support this

[2019-11-13 14:33] YunusGogce opened #463 "Connecting to Dialogflow using ReactJS keeps giving Authentication errors."
I'm trying to connect to Dialogflow using ReactJS. I've tried the sample code as below:

[code]

It gives me this error: You need to pass auth instance to use gRPC-fallback client in browser. Use OAuth2Client from google-auth-library.

I have set up the GOOGLE_APPLICATION_CREDENTIALS environment variable too. Is there any simple way to make the connection? Can someone share an example. Maybe using

[2019-11-13 19:57] callmehiphop commented on #463
@YunusGogce could you tell us a little more about your application - are you trying to run this in the browser/electron/etc.?

[2019-11-13 20:02] YunusGogce commented on #463
@callmehiphop I'm trying to run in in the browser using React.

[2019-11-13 20:14] callmehiphop commented on #463
@YunusGogce I'm going to refer you to https://github.com/googleapis/nodejs-dialogflow/issues/405#issuecomment-529713296, since I believe this is just a duplicate of that issue.

Let us know if that example helps!

[2019-11-13 20:14] #463 closed

[2019-11-13 20:31] YunusGogce commented on #463
@callmehiphop I actually tried using OAuth2Client. As far as I understand it uses the users Google account to get a token. I don't want this. I want users to be able to chat with the dialogflow chatbot without having to login.

Please correct me if my understanding is wrong.

[2019-11-13 20:53] callmehiphop commented on #463
@YunusGogce AFAIK that is the only way to use this client in a browser. You might consider using the https://github.com/googleapis/google-api-nodejs-client module instead.

[2019-11-14 11:12] Zanyy commented on #405
Hello Guys,
I have the same issue with Vision API using Electron.
Code looks like this:

[code]
Any Suggestions ?

[2019-11-15 04:35] JustinBeckwith opened #467 "GA release"
Package name: `dialogflow`
Current release: **beta**
Proposed release: **GA**

## Instructions

Check the lists below, adding tests / documentation as required. Once all the "required" boxes are ticked, please create a release and close this issue.

## Required

- [x] 28 days elapsed since last beta release with new API surface
- [x] Server API is GA
- [x] Package API is stable, and we can commit

[2019-11-15 14:47] callmehiphop commented on #450
@alexander-fenster any updates here?

[2019-11-15 14:49] callmehiphop commented on #448
@dcsan when you say "tons of debug", do you mean console logs? Which debug module flags are you referring to?

[2019-11-15 14:50] #442 closed

[2019-11-15 14:54] callmehiphop commented on #429
I'm going to close this out since the suggested workaround seemed to do the trick.

[2019-11-15 14:54] #429 closed

[2019-11-15 14:55] callmehiphop commented on #412
Hasn't been much activity here in a bit so I'm going to close this issue. If you think this is a mistake, let us know and we'll be happy to re-open!

[2019-11-15 14:55] #412 closed

[2019-11-15 14:56] callmehiphop commented on #407
@crisboarna did @bcoe's suggestion help you out at all?

[2019-11-15 14:59] callmehiphop commented on #401
@eGlobeBizCom just checking in - did you happen to get your questions answered? Haven't heard anything in a while 🙃

[2019-11-15 15:13] callmehiphop commented on #387
@kapil-joshi did you ever get this issue resolved? If not would you be able to share with us how you're setting the context in the request?

[2019-11-15 15:15] callmehiphop commented on #386
I'm going to close this out since it doesn't appear to be an issue with the client itself. If dialogflow/dialogflow-javascript-client#111 ends up being a dead end, I suggest opening an issue for this on the product forums.

[2019-11-15 15:15] #386 closed

[2019-11-15 15:17] callmehiphop commented on #381
@alexmontesg forgive me for the necrobump, but did you ever manage to resolve this issue?

[2019-11-15 15:18] callmehiphop commented on #334
@kwcolson I apologize that so much time has passed, but are you still experiencing this issue?

[2019-11-15 15:19] callmehiphop commented on #291
Seems this issue has gone silent so I'm going to close it out. Please let us know if you think this is a mistake and we'll be happy to re-open.

[2019-11-15 15:19] #291 closed

[2019-11-15 15:20] callmehiphop commented on #218
@alexander-fenster will this end up getting fixed when we move to the typescript gapic generator?

[2019-11-19 19:53] tiagoPacheco opened #472 "[Analytics] How can I get data from "Analytics" area?"
Hi,

I'm using the Dialogflow API to manage my bot. At moment, I need to get the the data from "Analytics" area (image below) via API. Has some way that I could do this?

![Screenshot from 2019-11-19 16-51-22](https://user-images.githubusercontent.com/5752720/69180904-dfb59380-0aec-11ea-8bf7-0fee6822bf33.png)

I've search a lot how to do this using this lib, but I didn't find nothing.

Has anyone

[2019-11-21 08:02] #407 closed

[2019-11-21 08:03] #401 closed

[2019-11-21 08:03] #387 closed

[2019-11-21 08:03] callmehiphop commented on #381
Going to close this since it looks to be a duplicate of #450

[2019-11-21 08:03] #381 closed

[2019-11-21 08:05] #448 closed

[2019-11-21 08:06] #334 closed

[2019-11-21 11:36] dcsan commented on #448
yes

DEBUG=xxx
from TJ's debug. I thought maybe that was used internally.
possibly I have some env setting that is triggering your logging module.

[2019-11-21 21:31] JustinBeckwith commented on #467
So we merged the PR bumping this thing to GA - wooo! It got me thinking.  As of today this is our only cloud / gapic generated client that isn't in the `@google-cloud` scope on npm.  Should we consider renaming it?  I think the steps would be:
- push one more version to `npm` under the `dialogflow` name with a deprecation warning, telling users to install `@google-cloud/dialogflow`.
- Rename the m

[2019-11-21 21:34] nnegrey commented on #467
If we do this, we should do it in Python too.

I vote yes, but this will likely make people upset, as we 2 years ago moved this from the Dialogflow org to the GoogleApis org. Depends on how much breaking we want to keep causing.

[2019-11-21 21:46] JustinBeckwith commented on #467
The move between GitHub organizations shouldn't have created a breaking change for users though, right?  At the end of the day, this is making a one line change in your package manifest.

[2019-11-22 11:53] praveenptl71 opened #476 "How to use custom payload in dialogflow to create quick replies on web integration"
How to use custom payload in dialogflow to create quick replies on web integration

[2019-11-27 23:44] failure-checker[bot] opened #478 "Warning: a recent release failed"
The release PR #267 is still in a pending state after several hours

[2019-11-28 08:52] ankgitk commented on #75
1.

[2019-11-28 21:15] Gevert92 commented on #114
Good my people, I know this post has some time but I would like to ask if any of you have created followup with this DialogFlow API, I'm looking for a way to do it.

I think I tried it with the code:
let intent = {
        displayName: dataIntent.nameIntent,
        trainingPhrases: trainingPhrases,
        messages: message
    };

let response = await IntentsClient.createIntent( {parent:parent,

[2019-11-28 21:19] Gevert92 opened #479 "How to create a followup with the DialogFlow API"
Please find a way to create a followup associated with an attempt using the DialogFlow API.

I think I'll try them with the code:
let intent = {
        displayName: dataIntent.nameIntent,
        trainingPhrases: trainingPhrases,
        messages: message
    };

let response = await IntentsClient.createIntent( {parent:parent, intent:intent} );

How can I create a followup?

[2019-11-29 21:20] Gevert92 commented on #479
I could fix it, I just had to add the fields rootFollowupIntentName and parentFollowupIntentName in the json:

let intent = {
        displayName: dataIntent.nameIntent,
        trainingPhrases: trainingPhrases,
        messages: message,
        rootFollowupIntentName: idIntentFollowup,
        parentFollowupIntentName: idIntentFollowup
 };

await IntentsClient.createIntent( {parent:parent, inten

[2019-12-02 18:15] bcoe commented on #479
:+1: awesome, it sounds like you're unblocked. Please feel free to open a new issue if you bump into any more hiccups.

[2019-12-02 18:15] #479 closed

[2019-12-06 04:29] lauchness commented on #405
@alexander-fenster I'm making some headway with your original post, but I've run into an issue trying to run the dialogflow.SessionsClient constructor, I'm getting the error `Unhandled Rejection (TypeError): Cannot read property 'cloud' of undefined`. Any ideas why this might be happening?

[2019-12-06 04:38] alexander-fenster commented on #405
@lauchness I suspect it may be failing here:

https://github.com/googleapis/nodejs-dialogflow/blob/44cd81cc6404c926f007a4868728a514116aed81/src/v2/sessions_client.js#L159-L162

Can you double check that `opts.fallback` is true there? It should follow the `lookupService` route, not try to access `protos.google.cloud` (this is likely where it fails for you).

[2019-12-06 04:44] lauchness commented on #405
@alexander-fenster Yep, that's the spot. I'm finding `opts.fallback` is undefined at his point. I'll keep looking into it, but do you have any insights as to why this might be the case for me?

[2019-12-06 04:51] alexander-fenster commented on #405
@lauchness Then just pass `{ fallback: true }` to the `dialogflow.SessionsClient` constructor. Soon (within the next update) it will start doing much better job autodetecting if a fallback mode is needed, but for now, passing an option should be enough.

Also, make sure you pass an `auth` instance as described in my post above.

[2019-12-06 04:55] lauchness commented on #405
@alexander-fenster That's great! I also noticed this line:

https://github.com/googleapis/nodejs-dialogflow/blob/44cd81cc6404c926f007a4868728a514116aed81/src/v2/sessions_client.js#L64
And found that setting global.isBrowser = true, just before the constructor also fixes the bug. Though I don't feel like this is the best choice.

I'll go with your suggestion for now.

Is there any way I can contrib

[2019-12-06 05:10] alexander-fenster commented on #405
The original idea behind this `global.isBrother` thingy was that `webpack` (or similar bundler) will follow `"browser":` key in `package.json`, which will point to `src/browser.js`, which will set this `global.isBrowser` to true. This plan is half way done: `src/browser.js` is here, but `"browser":` key in `package.json` is not :)

There is no need to contribute right now because the code of this

[2019-12-06 05:16] lauchness commented on #405
@alexander-fenster Thanks! What do you mean the code is auto-generated?
Also, passing `fallback`, isn't working, but setting global.isBrowser is.
This is just for a personal experiment for now, so I'm not concerned if this will be improved soon.

[2019-12-06 06:06] lauchness commented on #405
@alexander-fenster After getting the OAuth2 working, I'm now also encountering CORS issues with the dialogflow.SessionClient. Seems the response doesn't contain the 'Access-Control-Allow-Origin' header.
I'm assuming this is because the library is intended to be used on a Node.js server. Is that correct? Are there any workarounds for using this on a client app? I'm currently trying it out in a Reac

[2019-12-06 06:22] alexander-fenster commented on #405
CORS headers should be there. I did not try it for this particular library, but did not have any issues with them for other libraries (`@google-cloud/language`, `@google-cloud/text-to-speech`, etc.) Are you running it on localhost and with Chrome/Chromium? If so, make sure you're using a fully qualified domain name (even a fake one, pointing to 127.0.0.1, will work).

[2019-12-06 15:53] lauchness commented on #405
@alexander-fenster So, I am running on localhost with Chrome and I've gone through the process of setting up my /etc/hosts file, so now my app is running at http://test-dialogflow.com:3000/.
I've got the OAuth2 all working nicely, but my response from the sessionClient.detectIntent is consistently a 403 on the pre-flight request. (See screenshot here)
<img width="624" alt="Screen Shot 2019-12-06 a

[2019-12-06 19:07] alexander-fenster commented on #405
Yes, please feel free to open a separate issue. I will try to repro this with Dialogflow API (as I said, I got it working with others, but things might be different here) and we'll figure out what to do from there. If other folks in this thread got this working in Chrome, please feel free to chime in :)

[2019-12-08 00:33] lauchness opened #483 "No Access-Control-Allow-Origin Headers Present When Running on Browser"
**Expected**
When using the dialogflow.SessionsClient class, I would expect to be able to make calls to the dialogflow API and receive the appropriate CORS headers in the response.

**Actual**
When using the SessionsClient `detectIntent` method, the response from the dialogflow API doesn't contain the appropriate CORS headers (specifically "Access-Control-Allow-Origin"), preventing me from using t

[2019-12-09 16:10] TomHartogs opened #484 "BUG: BatchUpdatingIntents to enable all webhooks using updateMask"
OS: Windows 10
Node: v10.16.3
Npm: v6.11.3
Dialogflow: v2

I am trying to batchUpdate all intents in order to enable the webhook for them.
  1. Get a list of all intents: `intentsClient.listIntents({parent: projectAgentPath});`
  2. For each intent set webhookState to 1 (enable)
  3. Create request with `updateMask: { paths: ['webhookState'] }`

Removing the updateMask successfully updates the web

[2019-12-09 16:12] bcoe commented on #483
👋 while it should be possible to get our gRPC based libraries working in the browser ([the process is detailed here](https://github.com/googleapis/google-cloud-node/issues/2933)). This is not something we support out of the box.

It might be worth commenting on the linked issue, regarding your requirements for CORS headers, if it doesn't seem like the process outlined would address this issue for

[2019-12-13 00:26] shzamani commented on #219
I am facing same issue and I did both steps (even by adding more delay 5secs) but the problem is still there, still I should go and press the save button in each intent! No new solution for this bug?

[2019-12-13 00:52] shzamani commented on #303
Hi,

I am having the same problem but the issue (bug) is still not solved. Can you please provide an example with your data?

Hi,

I am having the same problem but the issue (bug) is still not solved. Can you please provide an example with your data? because I do set entitytypeDisplayName as the entity I expect, but it doesn't help.

[2019-12-13 01:20] GT-ThomasTan opened #486 "Custom payload message format changed in fulfillment message response"
#### Environment details

  - OS: macOS 10.15.1
  - Node.js version: v12.13.1
  - npm version: 6.12.1
  - `dialogflow` version: 1.0.0

#### Steps to reproduce

  1. On dialogflow console, add a custom payload message for default platform, payload:
`{
  "card": {
    "subtitle": "Hi! I'm Jamie, your personal virtual assistant. How can I help you today?",
    "buttons": [
      {
        "text": "I

[2019-12-13 06:35] GT-ThomasTan opened #487 "Question: specifying an environment in detectIntent API call"
I am currently using the environment beta feature, I am wondering if there is currently a way to specify an environment while making detectIntent call.

Thanks.

[2019-12-16 05:41] HilalRather commented on #418
@danjenkins , @mwoop
I am running with the same problem and i have no idea how to get it fixed, I tried a but failed.
Here is my code:

 Task responseHandlerTask = Task.Run(async () =>
         {
            IAsyncEnumerator<StreamingDetectIntentResponse> responseStream = duplexStream.ResponseStream;

            while (await responseStream.MoveNext())
            {
               StreamingDetectI

[2019-12-16 07:01] HilalRather commented on #341
@callmehiphop, I am getting the same issue <b> code": 4, "message": "Webhook call failed. Error: DEADLINE_EXCEEDED</b> while working with <b> Google.Cloud.Dialogflow.V2</b> <i>C# library</i>.
Although the webhook call gets executed successfully and returns the expected result.

Any help would be appreciated.

Thanks.

[2019-12-16 17:57] callmehiphop commented on #418
@HilalRather you might have better luck asking your question in the C# repo, I'm not sure if anyone here is familiar with that library.

[2019-12-16 18:09] callmehiphop commented on #341
@HilalRather I would suggest making an issue in the C# repo, I'm largely unfamiliar with that code base unfortunately.

[2019-12-17 04:24] HilalRather commented on #418
@callmehiphop OK.

Thank you

[2019-12-17 04:24] HilalRather commented on #341
@callmehiphop already did that.

[2019-12-17 14:42] amammay commented on #487
https://github.com/googleapis/nodejs-dialogflow/blob/master/src/v2beta1/sessions_client.js#L382

[2019-12-18 00:48] GT-ThomasTan commented on #487
Thanks a lot @amammay

[2019-12-18 00:48] #487 closed

[2019-12-18 00:56] amammay commented on #476
@praveenptl71 if you are looking at making a quick webhook fulfillment then using the https://github.com/dialogflow/dialogflow-fulfillment-nodejs lib should be a step in the right direction for simple use cases. If you are expecting support for more complex operations of dialogflow then you will likely have to leverage the api's. Fulfillment support with other languages is less than optimal with d

[2019-12-18 19:49] callmehiphop commented on #486
@GT-ThomasTan dialogflow likes to make use of [protobuf Structs](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#struct) from time to time, I think that is what you're seeing.

There's a module floating around called [pb-util](https://www.npmjs.com/package/pb-util) that you can use to convert the struct into a normal JSON structure if that is something you're interest

[2019-12-18 19:49] #486 closed

[2019-12-19 00:41] GT-ThomasTan commented on #486
@callmehiphop I see, so this is intended behaviour. Noted, thanks a lot.

[2019-12-20 05:14] wtflove opened #490 "API is not responding (Error: Retry total timeout exceeded before any response was received)"
#### Environment details

  - OS: win10
  - Node.js version: 10.14.1
  - npm version: 6.4.1
  - `dialogflow` version: 1.0.0
  - HTTP PROXY used

#### Problem describtion

The getAgent method is not responding any thing and eventually I will get a timeout error.
Although the API testing works good on DialogFlow api reference page, and googleapis/resource nodejs client works.

This works:
[code]

Th

[2019-12-20 21:41] ecommercebot opened #492 "Error - Request timeout"
Hello there
Have a problem
=
Suppose I have a Dialogflow agent with Web-Demo integrations  activated and with bunch of intents.
"Webhook call  for this intent" feature enabled for all intents to connect to the Node.js backend on Heroku
This web-demo iframe inserted to some web page
user types question to Dialogflow
Dialogflow connects backend  for some data and sends back to user
All is simple and

[2019-12-21 12:59] #492 closed

[2019-12-23 23:33] i-MaxProfit commented on #175
It seems that this feature still does not work. Unable to create new agent. We can only edit the existing one. Maybe someone knows life hack how to create agent via api?

[2019-12-24 02:46] wtflove commented on #341
I am having exactly the same issue right now, don't know if there is a solution to this. Could you help me? @callmehiphop I rose another issue [here](https://github.com/googleapis/nodejs-dialogflow/issues/490)

[2019-12-24 11:46] callmehiphop commented on #490
👋 @wtflove so I don't think this client supports proxies out of the box unfortunately, I suspect that might be the root cause of what you're seeing. You can work around this by using the C core gRPC module instead.

[code]

Then just import/pass it to the constructor

[code]

Let me know if this helps at all

[2019-12-25 01:31] wtflove commented on #490
@callmehiphop It works perfectlly! thank you!

[2019-12-25 01:31] #490 closed

[2019-12-26 15:16] nnegrey commented on #175
Are you using the `SetAgent` request?
https://cloud.google.com/dialogflow/docs/reference/rpc/google.cloud.dialogflow.v2#setagentrequest

[2019-12-29 13:56] yoshigev opened #496 "Missing endInteraction intent attribute"
- OS: Windows 7
  - Node.js version: 10.16.0
  - npm version: 6.13.0
  - `dialogflow` version: 1.0.0

#### Steps to reproduce

  1. Add an intent that should disconnect the conversation by marking the checkbox "Set this intent as end of conversation" in the UI.
  2. Send a text from the client that triggers this intent.

#### Expected result
Having an `endInteraction` attribute with `true` value i

[2019-12-30 17:17] abhinavkumar985 commented on #219
It's making me crazy, even pressing the save button for each intent and manual training from settings. It not picking up the intent.
It was working just before importing some of the intent. It broke everything here.
Sometimes it works in the console but not in connected devices.
Now old intent is working from console dialog flow but from Google Assistant, all query getting into default fallback. P

[2019-12-30 18:04] nnegrey commented on #219
@jaymovaliya, @shzamani, @abhinavkumar985
Can you folks open a new issue and provide some info about what you are doing in your code?

[2020-01-13 05:59] yakim333 commented on #341
Also getting Webhook call failed. Error: DEADLINE_EXCEEDED  time to time  and can't get what are conditions to reproduce (using fulfillment in NODEJS and FACEBOOK integration)

[2020-01-13 17:16] sanchit892 opened #503 "Unable to connect dialogflow with spreadsheet api"
I am new to dialogflow and I also have not much knowledge about node.js, I am trying to connect my spreadsheet with dialogflow but unable to do that. Code deploy's without any error on Dialogflow.

Here is code for index.js that i am using

[code]

[2020-01-14 12:09] yoshi-automation opened #504 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/c9a67de3-2540-4828-a553-47aa5fbae976).

[2020-01-15 12:41] yoshi-automation commented on #504
Autosynth passed, closing! :green_heart:

[2020-01-15 12:41] #504 closed

[2020-01-15 17:09] czahedi commented on #379
Hey Noah can you take a look? Feel free to loop in @bcoe for Node stuff

[2020-01-15 17:10] czahedi commented on #218
@alexander-fenster any updates here?

[2020-01-15 23:02] nnegrey commented on #379
@bcoe as the Node.js person.

From the provided code, are they properly waiting for the operation to complete?
As a Node.js novice, it looks like they are just waiting for the operation object, so the create request won't have finished and they already started deleting them which is why I could see Error 1 showing up.

To wait for the operation to complete, does it need to be this or is the above

[2020-01-16 19:27] bcoe commented on #379
@patrick-zimmermann, if @nnegrey is correct that `batchDeleteIntents` returns a long running operation, I would follow his suggestion. I think you're taking the right approach of chunking your deletes up into manageable chunks, but because of not awaiting the long running operation you'd have all these chunks enqueued at the same time; adding the additional await should do the trick.

[2020-01-17 09:58] patrick-zimmermann commented on #380
@jdelman thanks for the advice. I integrated the `setAgent` some months ago. Until now I never realized that the function resets some manually set values on Dialogflow such as the **Automatic Training**, **Agent Validation** as well as the **Sentiment Analysis**.

After the `setAgent` function was executed successfully the values switch too false and are disabled even thought all of them had been

[2020-01-19 16:03] bivas6 opened #507 "StreamingDetectIntent: dialogflow stop listening after long silence"
#### Environment details

  - OS: Win32
  - Node.js version: v12.9.1
  - npm version: 6.10.2
  - `dialogflow` version: 1.0.0

#### Steps to reproduce

  1. create dialog flow streaming detect intent client, and remain silence about ~10 sec.
  2. start speaking
  3. see that no error event or 'transcript' response arrived.

Thanks!

[2020-01-20 08:57] bivas6 commented on #507
I'm wrong, you got 2 empty messages, one with reconitionResult type = 'END_OF_SINGLE_UTTERANCE', and the second with query result with empty/ null properties.

thanks!

[2020-01-22 10:45] vishald123 commented on #503
Hi @sanchit892, I think using **axios**  for getting spreadsheet data is where the issue is. I did the following way by using **Spreadsheet API** and it did work for me.

[code]

Please try and let me know if it works for you.

[2020-01-22 17:20] sanchit892 commented on #503
Thanks @vishald123 for the reply I definitely try that and let you know !!!

[2020-01-27 18:21] #379 closed

[2020-01-27 18:41] alexander-fenster commented on #218
I'll take one more look here, even though I'm not convinced it's important since it is being triggered by a very unique use case.

[2020-01-27 22:17] czahedi commented on #218
Thanks. If it turns out it's a unique use-case (with a ticket over 1 yr old) then we can probably close it unless a similar issue arises down the road. Keep us posted

[2020-01-27 22:33] nnegrey commented on #218
I'd suggest closing.

[2020-01-27 22:40] alexander-fenster commented on #218
Agreed, closing for now, will reopen and investigate if more issues related to unhandled promise for bad auth key appear.

Rationale: this does not happen during the normal usage, only during initial setup where the user will definitely see that auth is not going right.

[2020-01-27 22:40] #218 closed

[2020-01-28 17:32] bivas6 commented on #507
OK, so you did receive this 2 messages only if you stop writing to the detect stream (unpipe etc), but if not you only get the first message, which is the same message like after good recognition.
Can you please add an error event that imply that no voice has detected so far? Or some other indication..
Thanks!

[2020-01-28 22:20] ROODAY opened #513 "Invalid JWT when running inside Docker"
I created a simple fulfillment server that takes user input and gets/forwards the appropriate response from Dialogflow. The code is pretty simple, it's all contained in the `index.js` file of the master branch of [this repository](https://github.com/ROODAY/metbot-fulfillment). When I ran this through Heroku (at https://metbot-fulfillment.herokuapp.com/), everything worked fine. If you send a POST

[2020-01-29 12:28] DaRo0 opened #514 "Security error on www.googleapis.com"
### Environment details

  - OS: Docker running on 64bit Amazon Linux/2.9.2
  - Node.js version: 10.17.0
  - npm version: 6.11.3
  - `dialogflow` version: 1.1.1

### Problem you have encountered:
Suddenly, in our chatbot, we are getting an error when doing the detectIndent function from the dialogflow node module (v 1.1.1).

### The error that we are encountering is:
[code]

We are calling this me

[2020-01-29 12:32] JaimeAmate commented on #514
I got the same issue, this is failing since 3 weeks or so

[2020-01-29 12:34] jordiTorne commented on #514
Same issue here, since one month

[2020-01-29 20:54] ROODAY commented on #513
I'm not sure what's changed (hence why I'm hesitant to close this before getting any insight) but my container started working. All I've done is leave it alone for a day, is it possible that due to the initial time sync issues the tokens were off but giving it time to reset solved the issue?

[2020-01-30 04:16] kwajiehao opened #515 "Unable to instantiate Dialogflow SessionsClient"
Hi, I'm trying to deploy an intermediate server on AWS Lambda which links to my Dialogflow agent. Although the code works locally, it times out when I try to deploy it on Lambda. Specifically, it times out when I'm instantiating the client with the line `const sessionClient = new dialogflow.SessionsClient();`.  My code is based loosely off the `detect` [example](https://github.com/googleapis/nodej

[2020-01-30 14:03] daaru00 opened #516 "Authentication using service account (without using file)"
Hello,

I'm currently migrate API from v1 to v2, one of the big changes is the authentication flow. In v1 I using a secret key, passed through Authorization header during POST request. Value is encrypted with a strong encryption system (AWS KMS) and decrypted before being used.
Now, if I understand well, I need to use a JSON file.. I'm in a stateless environment so I haven't access to file system

[2020-01-30 23:27] bcoe commented on #514
@nnegrey any thoughts on this one? seems pretty weird to suddenly start cropping up.

[2020-01-31 16:02] nnegrey commented on #514
Um. No, but let me start digging around to see if I can try to reproduce something.

[2020-01-31 16:31] nnegrey commented on #514
I'm gonna assume this isn't the actual issue, but for a sanity check. Is your spelling correct for `keyFileName`?
The above spelling is incorrect. (Maybe something changed)
But it should be:
`keyFilename` lower case `n`

From: https://github.com/googleapis/google-auth-library-nodejs/blob/master/src/auth/googleauth.ts#L67

I'm gonna keep digging, cus I'm guessing you have that correct, but just wan

[2020-01-31 16:40] nnegrey commented on #514
What library version dialogflow are you using?
Do you set any other underlying dependency versions as well for google cloud?

[2020-01-31 16:49] DaRo0 commented on #514
Hello @nnegrey , because of deleting the name of the file I messed it up by writing it here, but in the script it is spelled correctly, thank you for the observation.

I'm using the dialogflow node module version 1.1.1 (I've also tried with the 1.1.2 which was released recently).

In the main package.json I'm not using any dependency for google, but the dialogflow module has google dependencies fo

[2020-01-31 17:40] DaRo0 commented on #514
Bye the way, I just got what you mean @nnegrey . I haven't changed any underlying dependency versions (didn't know from where should I start)

[2020-01-31 18:26] daaru00 opened #517 "Empty fulfillmentMessages/fulfillmentText in detectIntent response"
Hello,

In v1 version I using:
[code]
and in response I receive the response message:
[code]
now in v2 I using this:
[code]
in response object I receive an empty response:
[code]
and I'm at the end of conversation (as `diagnosticInfo` report)
[code]
is something related to "PLATFORM_UNSPECIFIED" message? I need to set some option to tell Dialogflow to respond me in "text format"?

I would like to

[2020-01-31 18:34] nnegrey commented on #514
I've been unable to reproduce, couple clarifying questions.

1. (doubt this matters) is this running on AWS and can you reproduce if you run locally?
2. You downloaded a new `service_account.json` file from the GCP console?
https://cloud.google.com/iam/docs/creating-managing-service-account-keys#iam-service-account-keys-create-console
3. Since you pass the `keyFilename`, just curious have you trie

[2020-01-31 18:34] nnegrey commented on #514
I think the error is happening here, I'm just not sure why yet.
https://github.com/grpc/grpc-node/blob/master/packages/grpc-js/src/channel.ts#L250-L254

[2020-01-31 19:58] DaRo0 commented on #514
Hello @nnegrey ,

1. Yes I can reproduce it locally, and yes I'm running it into an elasticsearch beanstalk
2. yes I did that
3. that's right, at the beggining I was just setting that environment variable along with others like bot id and so on, and apparently none of the environment variables are colliding with eachother

Thank you very much for taking this time to help me out!

PS: yes, that's t

[2020-02-03 09:11] DaRo0 commented on #514
Hello @nnegrey ,

I think this might help, here u have the contents of the dependencies in my package.json:
`  "dependencies": {
    "aws-sdk": "^2.610.0",
    "body-parser": "^1.19.0",
    "clim": "^1.1.1",
    "compression": "^1.7.4",
    "cors": "^2.8.5",
    "cron": "^1.8.2",
    "csvtojson": "^2.0.10",
    "dialogflow": "1.1.2",
    "dotenv": "^8.2.0",
    "express": "~4.16.1",
    "helmet":

[2020-02-03 18:28] nnegrey commented on #514
The below code throws the error for you?

[code]

[2020-02-04 06:43] kwajiehao commented on #515
Hi, we figured out the problem. The issue is that on Lambda you need to set the timeout to be > 3 seconds, presumably for the whole Lambda function to instantiate etc. We have no issues now!

[2020-02-04 06:43] #515 closed

[2020-02-04 09:11] DaRo0 commented on #514
Hello @nnegrey ,

I've tried that code, I needed to change it slightly (it was returning an unhandled promise rejection):
`try {
    await detectIntent();
  }catch (e){
    console.log("ERROR: ",e);
  }`

I still get the same error :(

I tried to debug a bit more:

At the file: grpc/grpc-js/build/src/channel.js:137 I've placed a console log to print the complete error, and here you have it:

`{"me

[2020-02-04 18:05] nnegrey commented on #514
What role does your service account have?

Might also be worth filing an issue here: https://cloud.google.com/support/docs/issue-trackers

[2020-02-05 09:06] DaRo0 commented on #514
Hello @nnegrey ,

My service account has the role "admin".

I've also oppened an issue into google cloud forums the same day that I've opened it here: https://issuetracker.google.com/issues/148347362

But I got no answer yet :(

Thank you for your time @nnegrey

[2020-02-05 15:44] nnegrey commented on #514
When you run that code locally, were you also running it inside the docker image?

[2020-02-05 15:47] DaRo0 commented on #514
Hello @nnegrey ,

Nope, I run it outside the docker image, directly with node

[2020-02-05 16:43] nnegrey commented on #514
What's your output from `node -p process.versions`?

[2020-02-05 16:45] DaRo0 commented on #514
@nnegrey
{ http_parser: '2.8.0',
  node: '10.10.0',
  v8: '6.8.275.30-node.24',
  uv: '1.23.0',
  zlib: '1.2.11',
  ares: '1.14.0',
  modules: '64',
  nghttp2: '1.33.0',
  napi: '3',
  openssl: '1.1.0i',
  icu: '62.1',
  unicode: '11.0',
  cldr: '33.1',
  tz: '2018e' }

[2020-02-05 17:01] nnegrey commented on #514
Would you mind trying to upgrade your `openssl` version to at least 1.1.1 as from their pages, `1.1.0` is no longer supported.

[2020-02-05 19:20] Xeelley opened #522 "dialogflow.SessionsClient.detectIntent returns array of nulls during random requests"
**Environment details:**
Node: v12.4.0
NPM packages: dialogflow v0.11.0 + @types/dialogflow v0.9.4
Dialogflow API: v2

**Short description**
Some (random) `detectIntent` method calls returns array of 3 null values without errors.
In some cases its happen during series of requests with same body (like 4 of 5 request works fine, and 1 with issue) and with like 2-3 sec interval between requests.
In '

[2020-02-05 22:56] bcoe commented on #522
thanks for the bug report @Xeelley. This sounds like it's potentially an issue with the upstream API, it might also be worth opening an issue here:

https://issuetracker.google.com/savedsearches/5300385

[2020-02-06 08:56] DaRo0 commented on #514
Hello @nnegrey ,

I updated to node 12.13.1 (I was using 10.10.0) in order to update the openssl version attached to node to openssl: '1.1.1d' and I still get the same error

[2020-02-06 17:01] nnegrey commented on #514
Dang, ok some, been asking around the from that error, we think it has to do with a certificate issue with ssl/tls.

Can you run with this `NODE_DEBUG=http,https node`

Just note that the `http` could expose some stuff, so check first. But that might give a better idea if a secure connection is even created.

[2020-02-06 18:11] bcoe commented on #514
:wave: @DaRo0 if you have any flexibility in the container you run, I might also recommend experimenting with another distribution, e.g., Debian rather than Alpine, this sounds like an issue with the certificate chain.

[2020-02-07 08:24] DaRo0 commented on #514
Hello @nnegrey , I will try it right now! Thank you :)

Hello @bcoe , actually I'm running it in local now, without any container (running it with node in my mac), we also tried with an alpine node installation, but I will try again with a debian image!

Thank you so much to both of you!

[2020-02-07 13:20] DaRo0 commented on #514
Hello @nnegrey and @bcoe ,

We can confirm that it was failing because of a ssl/tls error. We had a custom module that was overriding the http.request method. Originally the logs were pointing to the grpc module, but the error was coming from that method mentioned above (which coincidently was exactly the same error string as the grpc module, and also logs were reflecting that file).

I'm really s

[2020-02-07 13:20] #514 closed

[2020-02-07 15:32] nnegrey commented on #514
Woo! Just glad you found an answer! :)

[2020-02-08 23:15] onigetoc opened #529 "Dynamic list with one result"
i have a list created from a api from a external file.
When i get only one result the app stop. I know that a list should have a minimum of 2 results but my suggestion is to allow one item in the list. I created a exception to show a basic card but i need the click or choice from user to trigger a audio file.
My suggestion, allow one result in List.

[2020-02-08 23:25] onigetoc opened #530 "Do not play mp3 download."
i'm creating a dialogflow (skill) and play mp3 from the internet. But when the mp3 come from external url and are in (download mode) it can't be play.
For exemple, a downloadable mp3 will play on a mp3 html player on chrome browser or any browser.
but it won't play in the dialogflow mp3 player.

mp3 who play directly in the browser from a link will play. except those in (download mode) (i don't kn

[2020-02-09 20:12] boehmrn commented on #483
Did you manage to get it working? In your Example [https://github.com/lauchness/dialog-flow](url), you only used the REST API. Im currently facing the same CORS issue, trying to implement an Electron  Dialogflow  client

[2020-02-10 12:23] lauchness commented on #483
@boehmrn I ended up just building an express server to handle the SessionsClient utilities.

At one point I had it working somewhat after passing OAuth2 in the constructor for SessionsClient, but it would only work for a Google Account with access to the bot, so it wasn't ideal. I haven't tried since early December though, and I know there have been updates since then.

[2020-02-10 12:52] boehmrn commented on #483
@lauchness Thanks for the quick reply. Because I want to handle streaming audio, setting up a express server (or socket server) increases the complexity. So it would be way more appealing to handle the SessionClient directly in the browser. I am using the same account for creating the Dialogflow agent und for the client. May you pass a Hint how you overcame the cors issue. how did you succeed? Is

[2020-02-10 13:04] lauchness commented on #483
I had first set up OAuth2 and used the response from that in the Constructor for the SessionsClient.

To set up OAuth2 you need to have a page which sends the user to the Google Auth page, and then another page to handle the redirect back from google with the token as a query param. It's outlined here: https://developers.google.com/identity/protocols/OAuth2UserAgent

Once you've got that taken car

[2020-02-10 14:33] boehmrn commented on #483
@lauchness
Ok thanks for helping. (Setting up oauth2 wasn't the problem). I think I will try the express server approach...

[2020-02-10 15:02] lauchness commented on #483
@boehmrn It will probably be worth it in the end anyway, good luck! Feel free to look here and see how I did it: https://github.com/lauchness/dialog-flow-server

[2020-02-10 20:19] bcoe commented on #529
@onigetoc :wave: if this is a feature request for the dialogflow product itself, vs., the client library, I suggest opening an issue [here](https://issuetracker.google.com/savedsearches/5300385). This will provide feedback directly to the product team.

[2020-02-10 20:26] bcoe commented on #530
:wave: @onigetoc this repository is specifically for the client library, not issues related to the `dialogflow` product in general.

I suggest giving product feedback [here](https://issuetracker.google.com/savedsearches/5300385).

[2020-02-10 23:38] geekbleek commented on #418
Can you please re-open this issue.  I'm still having issues with no buffer in the outputAudio response.  I've tried many passes at outputAudioConfig variations, as well as many variations of half closing/waiting for the stream to close.  The last query above was about the wrong language library but I that is not the issue others are having.  The only way I can get audio in a response, is by going

[2020-02-11 03:19] dieuit07 opened #533 "Where could I found the list version mapping between package with the GG-dialogflow"
Hi guys, I'm using version 0.8.2, and I wonder if It currently uses the Dialogflow API version 1 OR 2.
It has been using in the project for a long time ago. And Dialogflow sent the notification about the deprecate v1. So that I need to find out which version of Dialogflow the project is using.

In the project, it only uses for "create sessionPath" and "detectIntent" to get response from DialogFlow

[2020-02-12 20:30] bcoe commented on #533
@dieuit07 :wave: if you run `npm pack dialogflow@0.8.2`, you can see a list of files published with the library.

It looks like `0.8.2` is using `v2` of the API:

[code]

If possible, mind you, I strongly recommend upgrading to `1.2.0`, and then shortly after `v2.0.0` as soon as it's released (this will given you nice new features like TypeScript).

[2020-02-12 21:05] agnescameron opened #536 "Recently Added Intents are not being triggered"
Hi there --

My operating system is MacOS High Sierra 10.13.3. Not sure how to re-create this issue (I think if I were able to, I'd be able to fix it).

I've been trying to debug a problem with our agent for a while now, and have been running up against a mysterious error. I'm interfacing to DF using the NodeJS client, which is why I've posted the issue here, though I believe the issue might lie w

[2020-02-13 03:59] dieuit07 commented on #533
Thank you for your quick helpful support, @bcoe :+1:  . I've just updated it to 1.2.0 :high_brightness:

[2020-02-13 03:59] #533 closed

[2020-02-13 20:40] bcoe commented on #536
@agnescameron this repository is specifically for the JavaScript client libraries used to interact with dialogflow, we don't work on the dialogflow UI.

It might be worth opening an issue [here](https://issuetracker.google.com/savedsearches/5300385), which is the issue tracker for the product :+1:

Let me know if I'm misunderstanding your problem.

[2020-02-13 21:45] agnescameron commented on #536
sure, thanks! I mean, I think it's not a UI problem specifically, but it's not a Node problem either. Thanks for the tip!

[2020-02-13 21:45] #536 closed

[2020-02-14 02:15] jaycosaur opened #537 "entityOverrideMode for CreateSessionEntityTypeRequest should be of type number"
#### Environment details

  - Node.js version: 10.14.2
  - npm version: 6.4.1
  - `@google-cloud/dialogflow` version: 1.2.0

#### Steps to reproduce
The library currently has the following type for SessionEntityType:
[code]

But in consulting other language docs and the rest documentation as found [here](https://cloud.google.com/dialogflow/docs/reference/rest/v2/projects.agent.sessions.entityTypes

[2020-02-14 20:28] OlenDavis commented on #516
You should be able to pass the contents of the `.json` file to the SessionsClient constructor on the `credentials` property like so:
[code]

For reference, this is the documentation for the constructor of the SessionsClient:
[code]

[2020-02-20 02:34] bcoe commented on #537
:wave: thanks for the bug report, we have a new version of the library going out soon.

[2020-02-21 14:57] jltrippett commented on #513
I found this while looking into a similar error, and people have said this can happen if the server clock is out of sync for some reason, so restarting your docker container may have fixed it, or something else might have happened to fix that discrepancy. Just an FYI in case that was your issue too!

[2020-02-22 09:22] daaru00 commented on #516
Hi @OlenDavis,

I try to retrieve the encrypted file content and passing to credentials parameters:
[code]
file content is correctly formatted as the `console.log` show:
[code]
but client raise an error:
[code]
seems credentials are not correctly loaded.

-----

Using dialogflow with this version:
[code]
on Node 10.x

[2020-02-22 09:24] daaru00 commented on #517
Can someone help me? I'm really stuck on this..

[2020-02-26 09:32] vishald123 commented on #517
Hi @daaru00, are you using a webhook?

[2020-02-27 14:55] fahimmahmoodmir commented on #522
any Update? because I also faced the same error

[2020-02-28 10:57] vishald123 commented on #503
Hey @sanchit892, any updates? did the solution will work for you?

[2020-02-28 13:30] daaru00 commented on #517
Hi @vishald123,

nope, no webhooks are configured. Just changed the SDK version but leave action's configurations untouched

[2020-02-28 15:38] sanchit892 commented on #503
hey @vishald123, I use the spreadsheets api its working with it, but there is no issue with axios, the issue is with the code and also with the firebase connection. but Now its working fine.

Thanks

[2020-03-02 10:05] vishald123 commented on #517
Could you provide your actions configuration?

[2020-03-02 10:13] vishald123 commented on #503
@sanchit892, Glad that worked. I am closing the issue. Please feel free to reopen the issue if you face the issue again.

[2020-03-02 10:13] #503 closed

[2020-03-02 18:44] BlueSeph28 commented on #127
Why this issue is closed? I have the same error with runkit

Code:

[code]

[2020-03-02 19:12] JustinBeckwith commented on #127
This looks to be related to webpack type environments.

[2020-03-02 19:42] alexander-fenster commented on #127
Hi @BlueSeph28,

What you see might be a RunKit bug. I reproduced it here: https://runkit.com/alexander-fenster/5e5d5d2e21b63e00141512ca#:

![image](https://user-images.githubusercontent.com/4015807/75711006-7b24db80-5c7a-11ea-83e6-2b19e2ad56d8.png)

First, I tried to load another Google Cloud library (`@google-cloud/speech`), and it worked (at least it created a client properly).

Then, for `dial

[2020-03-03 07:01] ahmadihussain opened #551 "vuejs module"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-03-03 07:01] ahmadihussain commented on #551
how to solve this error

./node_modules/@grpc/grpc-js/build/src/resolver-dns.js
Module not found: Error: Can't resolve 'dns' in 'C:\Users\HUSSAIN\Desktop\haji-admin\node_modules\@grpc\grpc-js\build\src'

[2020-03-03 07:03] ahmadihussain commented on #551
how i can  this sovle error in vuejs

./node_modules/@grpc/grpc-js/build/src/resolver-dns.js
Module not found: Error: Can't resolve 'dns' in 'C:\Users\HUSSAIN\Desktop\haji-admin\node_modules\@grpc\grpc-js\build\src'

[2020-03-03 07:04] ahmadihussain commented on #551
how I can  this solve the error in Vuejs

./node_modules/@grpc/grpc-js/build/src/resolver-dns.js
Module not found: Error: Can't resolve 'dns' in 'C:\Users\HUSSAIN\Desktop\haji-admin\node_modules\@grpc\grpc-js\build\src'

[2020-03-03 16:15] vishald123 commented on #517
Hey @daaru00, You can refer to DialogFlow's [Migration Guide](https://cloud.google.com/dialogflow/docs/migrating) and see what are you missing. If you still face the issue, please feel free to comment and also if you could please provide complete gist of your code.

[2020-03-03 16:53] davidius commented on #405
@alexander-fenster what does `code` refer to in this line: `const tokenResponse = await oauth2client.getToken(code);`? It doesn't seem to be declared earlier in the code. Is this something I can get from the console?

[2020-03-03 17:15] lauchness commented on #405
@davidius

The line above has a comment which mentions `get the auth code from query string`. You're supposed to retrieve the code which is sent back in the URL from the OAuth2 response.

[2020-03-03 17:15] alexander-fenster commented on #405
@davidius The `code` refers to the one-time authentication code provided by the authentication server, which you later exchange to an OAuth2 token. It will be in the querystring parameter, as stated in the comment above that line:
[code]

In the real code, it will depend on how you actually receive this callback. In a pure browser usage, OAuth2 server will redirect your browser to `callback_uri` (

[2020-03-03 17:26] davidius commented on #405
makes sense, thanks very much!

[2020-03-03 18:48] bcoe commented on #551
:wave: hey @ahmadihussain, the `@grpc/grpc-js` dependency does not work in the browser (and in turn Vuejs). It should be possible to webpack this library however, following [instructions outlined here](https://github.com/googleapis/google-cloud-node/issues/2933).

[2020-03-03 18:48] #551 closed

[2020-03-04 18:02] abhi007tyagi commented on #293
@dennyjohnk how did you create knowledge base programatically? I am not able to connect to my agent for creating KB. Here is my SO question https://stackoverflow.com/questions/60532102/dialogflow-nodejs-knowledge-iam-permission

[2020-03-04 18:08] abhi007tyagi opened #554 "Not able to run create, list and other Knowledge base samples"
#### Description
I am not able to create or list a knowledge base programmatically from my NodeJS environment.
Here is my StackOverflow Question: [https://stackoverflow.com/questions/60532102/dialogflow-nodejs-knowledge-iam-permission](https://stackoverflow.com/questions/60532102/dialogflow-nodejs-knowledge-iam-permission)

#### Environment details

  - OS: Mac Mojave 10.14.6
  - Node.js version:

[2020-03-04 19:24] abhi007tyagi commented on #554
Problem was my key was for client and not for admin. Issue resolved

[2020-03-04 19:24] #554 closed

[2020-03-05 14:11] TomHartogs commented on #484
@bcoe Is there any update on this? The updateMask still does not seem to work correctly (also tested using `client.updateIntent(request);`).
I am successfully able to update the intents using the rest API via the googleapis module, but would prefer to use this library to do so.

[2020-03-05 17:56] bcoe commented on #484
@nnegrey don't suppose you have any feedback, as you know this API better than me.

@TomHartogs reading the proto definitions, it looks like potentially your query should be:

[code]

I believe the `FieldMask` type expects a [string path](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf?&_ga=2.115067783.1265306868.1583363821-578940058.1581473159&_gac=1.191990488.158319

[2020-03-06 09:07] TomHartogs commented on #484
@bcoe When using the rest API the FieldMask property in the request body indeed expects a string. However, in this library an array is expected or else the following error is thrown: `TypeError: .google.protobuf.FieldMask.paths: array expected`.
Perhaps that's where things go wrong, during conversion of the FieldMask from this library to the underlying API.

[2020-03-09 17:12] bcoe commented on #484
@TomHartogs can you make TypeScript ignore that line, and see if things start working? If so it's a bug with our types which I can log with the upstream team :ok_hand:

[2020-03-09 19:45] nnegrey commented on #484
Wouldn't the paths field be `webhook_state` because of underlying RPC rather than Node.js naming conventions?

I think I was able to get that to work, but I'm less of a Node.js expert.

[2020-03-09 20:57] TomHartogs commented on #484
@nnegrey you are correct, the mask indeed is supposed to be `webhook_state`. The documentation states `updateMask: The mask to control which fields get updated`, this led me to think I should pass in the symbolic path as described in the object passed in the function.
I wasn't aware of the naming convention for the RPC calls (relatively new to GCP), thanks for the clarification! Also thank you @bc

[2020-03-09 20:57] #484 closed

[2020-03-10 19:44] RezaRahmati commented on #409
this is still an issue, any fix for it?

[2020-03-10 19:55] RezaRahmati commented on #409
in case somebody else has same issue, request should include `intentView` with value `1` to return `trainignPhrases`

[code]

[2020-03-10 23:15] jjoshua1995 commented on #503
@sanchit892
How did you solve the error with axios.
I am facing the same.

[2020-03-11 00:27] jjoshua1995 commented on #503
@vishald123
I tried using Spreadsheet API but still i am facing issue.There is no error .But still my Dialog flow can retrieve the Spreadsheet API values.

[2020-03-11 04:53] sanchit892 commented on #503
Hey @jjoshua1995 can you please share your code and the error that you are getting while making the connection.

[2020-03-11 05:02] jjoshua1995 commented on #503
[COde for json.txt](https://github.com/googleapis/nodejs-dialogflow/files/4316098/COde.for.json.txt)

Actually i don't have error but I am not getting body response from API .Also checked the logs in firebase but no response from API.

![Screenshot (106)](https://user-images.githubusercontent.com/59269996/76383903-b044c400-6333-11ea-9948-96558782fd2a.png)

[2020-03-11 05:45] vishald123 commented on #503
@jjoshua1995, Please open a new issue for your issue.

[2020-03-12 16:34] danjenkins opened #559 "Slin16 8k Audio Buffer returned full of static"
#### Environment details

  - OS: MocOS & Linux Ubuntu
  - Node.js version: 12
  - npm version: N/A
  - yarn yarn run v1.21.1
  - `@google-cloud/dialogflow` version:  dialogflow@1.2.0

#### Steps to reproduce

If I ask for an audio result back in signed lear 16 , whether it be 8k or 16k etc.... the Buffer returned contains a wav. If I save that wav and play it back I get static. If I remove the wa

[2020-03-12 18:46] vishald123 commented on #503
@jjoshua1995, You are missing setting the **getdata()** intent. Set it the following way as you have set your welcome and fallback intent
[code]

[2020-03-13 06:16] yusufkhan07 opened #560 "Version 2 not available on npmjs"
#### Environment details

  - OS: Ubuntu 18
  - Node.js version: 10.18.1
  - npm version: 6.13
  - `@google-cloud/dialogflow` version: 1.2

#### Steps to reproduce

Version 2 isn't available on npm. Doing `npm i @google-cloud/dialogflow` fails with the error given below while `npm i dialogflow` installs `v1.2` which doesn't support typescript.

[code]

Thanks!

[2020-03-13 16:47] raphaelsilvasage opened #561 "Mega-agent support"
Could you please add the mega-agent creation feature?

If I trigger an API request, there is this payload:

Request URL: https://api.dialogflow.com/api-client/agents (POST)
Request Payload
`
{"name":"MEGA","description":"","language":"pt-br","enableFulfilment":false,"primaryKey":"","secondaryKey":"","alexa":{"alexaCompatible":false},"cortana":{"cortanaCompatible":false,"cortanaAppName":null},"slac

[2020-03-13 20:33] Strykrol opened #562 "Remove unused region tags and code"
Creating to track removal of sample code we aren't using for User documentation at this time.

[2020-03-15 03:25] jjoshua1995 opened #564 "Dialog flow issue"
[code]

I am a very basic user to  Google dialog flow . I have some issues regarding the response of the API.  There are no errors , but my API response is none.
There are no errors in firebase logs as well. Please help with this issue.

[2020-03-15 03:29] jjoshua1995 commented on #503
Thanks ,  it didn't solve the issue .I have opened a new issue for the same @vishald123

[2020-03-16 16:16] bcoe commented on #564
Hey @jjoshua1995 looking at your example code, I believe you're actually using the library [dialogflow-fulfillment-nodejs](https://github.com/dialogflow/dialogflow-fulfillment-nodejs).

This library, `@google-cloud/dialogflow`, is a different view into some of the APIs exposed by dialogflow.

I think it would be best to open an [issue here](https://github.com/dialogflow/dialogflow-fulfillment-node

[2020-03-16 16:16] #564 closed

[2020-03-17 19:28] bcoe commented on #560
we are currently blocked awaiting dropping of Node 8 support, this process should begin later this week.

[2020-03-19 13:54] vishald123 commented on #476
@praveenptl71, You can refer to this [link](https://www.youtube.com/watch?v=ueVX-p05378) to get a basic idea.

[2020-03-19 16:57] diegodalbosco commented on #560
HI @bcoe, any news about the date?

[2020-03-22 16:52] JockeRider199 commented on #560
You can still use the v2 by using this command (require git):
`npm install --save github:googleapis/nodejs-dialogflow`

I use this because i need typescript types ^^

[2020-03-24 17:47] Strykrol commented on #562
The PR this issue is associated with is almost complete (re-factore + deletion of newly failing tests).

The PR has all the discussion. Closing this out so teams aren't heckled with SLO violations.

[2020-03-24 17:47] #562 closed

[2020-03-25 20:39] wparad opened #570 "SessionsClient construction consistently takes > 100ms to create"
#### Environment details

  - OS: Ubuntu 18.04
  - Node.js version: 12.13.1
  - npm version: 6.12.1
  - `@google-cloud/dialogflow` version: 1.2

#### Steps to reproduce

[code]

This shouldn't take 100ms to complete. With lower memory and CPU this is forever.

[2020-03-27 10:00] harshan89 opened #573 "How can i update intent ?"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

[2020-03-31 22:17] RezaRahmati opened #575 "Error: Getting metadata from plugin failed with error: error:0909006C:PEM routines:get_name:no start line"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-03-31 23:03] bcoe commented on #575
@RezaRahmati it looks like you're interacting with an emulator, is this unpurpose? i.e., are you attempting to test dialogflow in the context of the emulator?

[2020-03-31 23:07] bcoe commented on #573
@Strykrol  @nnegrey what are the best docs to point folks towards for updating intents? I noticed we removed the samples around this recently (wondering if there's an alternative).

[2020-04-01 00:07] RezaRahmati commented on #575
@bcoe Thanks for reply, I am creating a backend to interact with dialogflow, and my backend is firebase, Now I am explaining to you, I think I found what I did wrong, let me investigate and I will be back

[2020-04-01 00:14] RezaRahmati commented on #575
@bcoe I found the root cause, I stored service accounts private_key in firestore, seems when I read from that and I pass it to firebase then it happens, I am invsetigating what is wrong with storing service account private key

[2020-04-01 00:23] RezaRahmati commented on #575
@bcoe problem is solved, When using Firestore UI to store private key it will convert all of '\n' to `\\n` and when passing to dialogflow api, it was malformed and throwing error. So I start string them via firestore apis and then it become OK.

[2020-04-01 00:23] #575 closed

[2020-04-01 03:01] harshan89 commented on #573
I need to get done,

**Create agents,
Create Intents,
Update Intents**

but it was difficult to find a well explained document.

_Get intent is working like below for me, i need to._
[code]

[2020-04-01 13:39] yoshi-automation opened #578 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/fbc7e856-fc71-4dc2-81b5-76163684ca8a).

[2020-04-01 14:45] nnegrey commented on #573
We didn't have a sample for updating intents.

Docs page with samples on managing intents is here: https://cloud.google.com/dialogflow/docs/manage-intents#create-intent-nodejs

Though for reference docs, I typically recommend the RPC docs.
Under the `Intents` service you can find:
`UpdateIntent` or `BatchUpdateIntents`

https://cloud.google.com/dialogflow/docs/reference/rpc/google.cloud.dialogflow

[2020-04-02 12:10] yoshi-automation commented on #578
Autosynth passed, closing! :green_heart:

[2020-04-02 12:10] #578 closed

[2020-04-04 16:26] valgaze commented on #64
(This is issue is closed, but for posterity)

@Jefftopia Not sure what your system was doing, but if the data wasn't available where you thought it should be, it may have needed an extra step

You need to serialize any "parameters"/data you send to DialogFlow (this not just for events, but contexts, requests data & anything else too) into an "Interface description language" (IDL)
 called **[Protbu

[2020-04-07 03:58] build-cop-bot[bot] opened #581 "Mocha Tests: should List the Session Entity Type failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 07d2f9cf44cd11fd0f1b0ce2113db0dbd0d2eb70
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-07 11:13] vishald123 commented on #573
Hi @harshan89, You can try the following way.

[code]

Let me know if this works for you.

[2020-04-09 05:00] cgcnrdpd commented on #20
I'm also running into this issue with dialogflow@1.2.0, grpc/grpc-js@0.7.0
I've already set up http_proxy, https_proxy & grpc_proxy point to a squid server
Can you help me, thank you so much

[2020-04-13 22:34] bcoe commented on #20
@cgcnrdpd make sure you're on `grpc/grpc-js@0.7.9`, and give things a sho (bugs were recently fixed related to proxy support).

[2020-04-21 08:36] ThWoywod commented on #20
I am having a similar issue, I upgraded `dialogflow` to 1.2 and `@grpc/grpc-js` to 0.7.9 and set all environment variables.  (HTTP_PROXY, HTTPS_PROXY, http_proxy, https_proxy, grpc_proxy)

It does not work. In my case i got the following error message
![image](https://user-images.githubusercontent.com/9079596/79844199-a3e46a00-83bb-11ea-936f-fb1b6ec378b4.png)

[2020-04-22 20:14] guilhermegehres opened #597 "How to create versions and environments of an agent?"
I need to create an agent version as I do from the console

[2020-04-23 04:31] weeix commented on #560
From the note in README.md, I thought `@google-cloud/dialogflow` was already on npmjs and tried to install it too.

[2020-04-23 22:42] bcoe commented on #560
@weeix @JockeRider199 @yusufkhan07 👋 `2.x.x` is now available on npm:

`npm i @google-cloud/dialogflow`

Note that you will require Node 10 or greater to run this 👍

[2020-04-23 22:42] #560 closed

[2020-04-23 22:45] bcoe commented on #20
👋 we have proxy support being released soon for `grpc`.

@alexander-fenster once we've updated to `v1.x.x` of `@grpc/grpc-js`, we should update this thread.

[2020-04-24 01:21] alexander-fenster commented on #20
Updating this thread! `@grpc/grpc-js` v1.0.x will be pulled by `google-gax` v2.3.0 which has been released today.

[2020-04-25 07:01] aotol commented on #175
This post is misleading. It makes people feel that you can create multiple agents under one project as the original question raised by @rwmb is

However, it has been confirm by Google itself that

The setAgent method that @nnegrey mentioned is to create or update the one, and the only one agent in project. If the project does not have an agent, this setAgent method will create one. Otherwise it si

[2020-04-25 15:06] DamianMoralesM commented on #513
I had my hour bad configured, 1 hour offset in Windows. I adjust the time and worked

[2020-04-27 17:03] bcoe commented on #513
@ROODAY would yo be able to check whether you were running in to a clock drift issue?

[2020-04-27 17:10] bcoe commented on #20
@ThWoywod @cgcnrdpd @amitjagtap proxy support should not be present if you perform a fresh install of `@google-cloud/dialogflow` (we've standardized naming of this module with our outer packages in the major release).

* It's important to ensure that you're on `@grpc/grpc-js@1.0.3`, as there were a few proxy bugs fixed in this latest release.
* It's. important to note that the proxy variables it e

[2020-04-27 19:37] ROODAY commented on #513
@bcoe Unfortunately not as now the app is being run as a systemctl service without docker so I don't have the original environment anymore.

[2020-04-27 21:26] bcoe commented on #513
@ROODAY I'm going to close this issue out for now, as I think clock drift is the most likely culprit. Please feel free to follow up if you do bump into issues again with Docker.

[2020-04-27 21:26] #513 closed

[2020-04-28 07:37] ThWoywod commented on #20
@bcoe thanks! Yeah with the latest `@google-cloud/dialogflow` Version it works for me  🎉

[2020-04-28 17:46] bcoe commented on #20
@amitjagtap it looks like proxy support is finally working 🎉, please let us know if you continue to bump into any issues.

[2020-04-28 17:46] #20 closed

[2020-05-04 14:54] chroth7 opened #604 "How to configure the Webhook with this library? (v2)"
Maybe I am just blind, but I fail to see how to configure the webhook (url, headers, etc) using this client library. Probably it is missing?
(I managed to create agents, add intents, entityTypes, etc, that all works well)

 **Is your feature request related to a problem? Please describe.**
Well, if I add a webhook fulfillment on an intent, it obviously fails on a new agent, as the webhook URL is m

[2020-05-06 00:04] ajmas opened #605 "Property 'sessionPath' does not exist on type 'SessionsClient'.ts(2339)"
#### Environment details

  - OS: macOS 10.15.4
  - Node.js version: 12.16.2
  - npm version: 6.13.6
  - `@google-cloud/dialogflow` version: 2.0.0
  - typescript: 3.8.3

#### Steps to reproduce

In a Typescript based project, working from within vscode:

[code]

I am being told that:

This only became an issue when switching from the 1.2.0 `dialogflow` package to the 2.0.0 `@google-cloud/dialogflo

[2020-05-06 00:24] ajmas commented on #605
Further testing suggests that `projectAgentSessionPath()` is right method to use and the documentation needs updating.

[2020-05-06 21:58] bcoe commented on #605
@ajmas it sounds like you found a workaround? but we need to update some of our samples?

[2020-05-07 02:13] ajmas commented on #605
@bcoe the samples are fine. It is just the README.md that needs updating.

[2020-05-08 17:16] subashg43770 commented on #314
Benjamin E. Coe Cloud You please see this how to fix it
Thank you in Advance :)

./node_modules/@grpc/grpc-js/build/src/server.js
Module not found: Can't resolve 'http2' in 'E:\ReactPubsub\PubSub\publisher_app\node_modules\@grpc\grpc-js\build\src'
![image](https://user-images.githubusercontent.com/32607536/81430746-d2c94280-9114-11ea-8b31-fb81915e603b.png)

[2020-05-08 18:43] build-cop-bot[bot] opened #611 "Mocha Tests: should create a knowledge base failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 4caa392e21a94493163cf5fcc0ca10447532aa75
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-05-08 18:43] build-cop-bot[bot] opened #612 "Mocha Tests: "after all" hook: delete created knowledge base for "should create a knowledge base" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 4caa392e21a94493163cf5fcc0ca10447532aa75
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-05-14 01:07] tiagotozi commented on #288
Hi shekit! I'm having the same issue. What did you do to solve it?

[2020-05-17 19:57] avallone-google opened #613 "Main readme file should use const dialogflow = require('@google-cloud/dialogflow').v2;"
The main readme file states to use the lib like this:
const dialogflow = require('dialogflow');

This should be chaned to, like the samples use:
const dialogflow = require('@google-cloud/dialogflow').v2;

[2020-05-18 09:30] Tarequzzaman commented on #288
Hi I am on the same issue. how do you solve it ?

[2020-05-18 11:26] tiagotozi commented on #288
Hii Khan..

In my problem i was not passing my credentials in a correctly way. Then was
returning this error.

I couldn't pass my credentials using sistem path, then i passed my key
explicitly and it works.

Best regards.

Em seg., 18 de mai. de 2020 às 06:31, Tarequzzaman Khan <
notifications@github.com> escreveu:

--
*Tiago Tozi*
+55 31 9 9654 6343
tiagotozi@gmail.com

Será um prazer conversar p

[2020-05-20 18:22] #611 closed

[2020-05-20 18:47] #612 closed

[2020-05-22 12:54] yoshi-automation opened #616 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/8aeddfbb-7b58-4fc8-9895-2ada12afbca7).

[2020-05-22 19:52] Shelunagori commented on #401
For me it was sessionClient !
const sessionClient = new dialogflow.SessionsClient({
            projectId: 'your-project-id',
           keyFilename: '/path/to/keyfile.json',
           });

[2020-05-23 19:01] yoshi-automation commented on #616
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/55b41abd-49e7-468a-beba-a8683b58c54c).

[2020-05-24 16:58] yoshi-automation commented on #616
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/1b789978-f73a-46c5-b32f-b0f5a9fa15cc).

[2020-05-25 09:04] CarioniStefano commented on #341
I'm also getting what it seems like random DEADLINE_EXCEEDED errors, with no clear reproduction steps.

It happens randomly on different intents on different occasion.

Any update?

[2020-05-25 15:01] yoshi-automation commented on #616
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/ba51bb8e-983e-4ef5-846f-55ea9fa4e79c).

[2020-05-26 14:12] yoshi-automation commented on #616
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/0344a2cb-00c6-4ee5-a325-b78b8a82b7b8).

[2020-05-26 19:08] bcoe commented on #616
@alexander-fenster this seems to no longer be generating, we end up with an empty directory.

[2020-05-26 19:15] bcoe commented on #605
@ajmas looks like we're not auto-generating the README, which explains how we got out of sync.

[2020-05-27 12:04] yoshi-automation commented on #616
Autosynth passed, closing! :green_heart:

[2020-05-27 12:04] #616 closed

[2020-06-02 13:37] NicolaSoccal commented on #341
Having the same issue. It usually happens, but not always and not exclusively, the first time an intent with active fulfillment is called. Any update?

[2020-06-03 22:52] #605 closed

[2020-06-05 11:26] yoshi-automation opened #620 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/a84fe804-6b84-41a5-b1f2-e6d681e30fa2).

[2020-06-05 17:16] yoshi-automation commented on #620
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/efbc612a-a1be-43b9-a32e-48ba98cdbde3).

[2020-06-05 22:43] yoshi-automation commented on #620
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/1545d56b-1b0a-4c16-8a59-d0188538d872/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-06-06 13:14] yoshi-automation commented on #620
Autosynth passed, closing! :green_heart:

[2020-06-06 13:14] #620 closed

[2020-06-07 10:46] oort7 commented on #341
I am preparing json response myself and I also get this error from time to time.

[2020-06-09 20:21] munkhuushmgl commented on #358
I will split out samples in individual files

[2020-06-10 23:44] #358 closed

[2020-06-10 23:49] build-cop-bot[bot] opened #623 "Mocha Tests: "before all" hook: create a session entity type for "should List the Session Entity Type" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 70ef050cbec2a5b490caaec1f079ffb5f77c981c
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-06-10 23:49] build-cop-bot[bot] opened #624 "Mocha Tests: "after all" hook: delete the created entity type for "should List the Session Entity Type" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 70ef050cbec2a5b490caaec1f079ffb5f77c981c
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-06-12 14:38] mohamed-aljane opened #627 "can't find create entity type function in samples/resource.js !"
Hi,

I am using this dialogflow library to interact with the agent through my backend and i found excellent support for creating and detecting intents but now when i want to create entities and i check the "read-me" file in the table of content i can find that there's a link to the create entity and also to the create session entity type but when i hit the "create entity" link and click on "source

[2020-06-12 15:19] #627 closed

[2020-06-13 15:04] peternann commented on #613
Plus this needs updating too, right: "npm install dialogflow" ???

[2020-06-14 22:00] marast78 opened #628 "SyntaxError: invalid regexp group in Firefox"
I have some issue using the package with Firefox. Everything works fine with Chrome and Edge. I use Webpack and Babel to compile my code.

#### Environment details

  - OS: Linux Ubuntu
  - Node.js version: v10.16.3
  - npm version: 6.9.0
  - `@google-cloud/dialogflow` version: 2
 - Firefox 77.0.1

#### Steps to reproduce

  My code is as below:

[code]

My Webpack config

[code]

And .babelrc

[c

[2020-06-20 12:09] yoshi-automation opened #629 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/5e9098ba-79ec-4912-8988-12dbed6d6364/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-06-21 12:08] yoshi-automation commented on #629
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/bca5c222-915f-43a3-92f3-651c046eae11/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-06-22 12:11] yoshi-automation commented on #629
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/ce571f16-b20e-44bf-bee4-5a8ccec6f7f9/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-06-22 19:14] munkhuushmgl commented on #628
@marast78 Could you share your error log?

[2020-06-22 19:18] marast78 commented on #628
@munkhuushmgl below I've pasted a console log (I've had to set up a fake URL :ok: )

[code]

[2020-06-22 19:26] munkhuushmgl commented on #628
Hmm, I am guessing this is something has to do with Firefox not supporting some regex function that you are using.

Have you got a chance to look at these answers?

https://github.com/sindresorhus/ip-regex/issues/24#issuecomment-408477416

https://stackoverflow.com/questions/55774080/firefox-gives-syntaxerror-invalid-regexp-group

[2020-06-23 07:37] marast78 commented on #628
@munkhuushmgl I've read above too and much more other answers. I don't use any regex in my code. As I guess it is used in google-gax which is used by @google-cloud.

[2020-06-23 12:18] yoshi-automation commented on #629
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/a4bd5e95-4b3f-44cd-a20c-17c77dc8597e/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-06-23 18:02] munkhuushmgl commented on #628
@marast78 I will ask the product team about supported browsers and usage of regex

[2020-06-23 20:49] #623 closed

[2020-06-23 20:50] #624 closed

[2020-06-23 20:51] munkhuushmgl commented on #581
I will fix this

[2020-06-23 21:03] munkhuushmgl commented on #581
Fixed by PR https://github.com/googleapis/nodejs-dialogflow/pull/582

[2020-06-23 21:03] #581 closed

[2020-06-24 02:22] alexander-fenster commented on #629
Should work now.

[2020-06-24 02:22] #629 closed

[2020-06-24 02:26] alexander-fenster commented on #628
Hi folks,

We don't _officially_ support _any_ browsers in this library, but we try to make it work (in a fallback mode - with no streaming calls and OAuth2 instead of service account files).

I don't have Firefox installed locally, would you @marast78 please help me by pointing me to a failing regex in `google-gax`? (even a screenshot would work) I'm pretty sure I will be able to rewrite it to ma

[2020-06-24 13:38] marast78 commented on #628
@alexander-fenster I will try to help you in this case. Perhaps at the weekend, I will find some time for it :+1:

[2020-07-11 21:38] marast78 commented on #628
@alexander-fenster I can confirm that in version 78.0.1 it works fine, so it seems like Firefox developers fixed this issue. I think we can close this issue.

[2020-07-11 21:38] #628 closed

[2020-07-12 05:09] davidvc opened #640 "Dialogflow slot filling for sys.any not picking up full string"
I am not sure where this belongs. I am using the Dialogflow UI, and I am hitting an error exactly as described here: https://github.com/dialogflow/dialogflow-javascript-client/issues/111

But this client has been deprecated. Was it replaced by this one? I can't tell. But this is still very much an issue and is blocking me from building a simple intent that lets me prompt a user for a message so th

[2020-07-13 05:26] thinkty opened #642 "How to create followup intents with batchUpdateIntents?"
Hello,

I am trying to use this DialogFlow API client to manage the intents of my agent and I have to use [`batchUpdateIntents`](https://googleapis.dev/nodejs/dialogflow/latest/v2.IntentsClient.html#batchUpdateIntents) for my task as I get the whole flowchart at once and parse it into a batch of intents. Almost always, there are several followup intents within the batch of intents. However, I am h

[2020-07-13 09:18] thinkty commented on #642
Although I am tempted to use multiple `createIntent` calls and get the uuid from the response, but the [best practices](https://cloud.google.com/dialogflow/docs/best-practices#batch) states that I shouldn't spam those. How many calls do you think is too much for individual calls?

[2020-07-13 13:42] brntsw commented on #341
This error happens randomly for me too, even though there is no API call or some heavy background task going on in the webhook when it does and I have the paid plan, so that should not be a limitation issue.

[2020-07-13 19:12] alexander-fenster commented on #628
Thank you for checking @marast78!

[2020-07-15 04:43] Isaben opened #646 "queryResult.intent.inputContextNames array is always empty"
#### Environment details

  - OS: Windows 10
  - Node.js version: 12.14.1
  - npm version: 6.13.4
  - `@google-cloud/dialogflow` version: 1.2.0

#### Steps to reproduce

Here's the code and an agent zip to reproduce the bug: https://github.com/Isaben/df_issue

The agent `Default Welcome Intent` has `welcome_context` as its output context with lifespan of 1, and a `Second Intent` with the same cont

[2020-07-22 00:38] thinkty commented on #642
I no longer need to use followup intents, but I will leave this open as someone else might stumble upon this problem.

[2020-07-22 18:19] munkhuushmgl commented on #642
I will look into this .

[2020-07-23 10:55] dSecret opened #656 "Error: agent.json is missing , when using “importAgent” interface of dialogflow (node.js)"
I am using Dialogflow client on my Node.js server to import-agent using .zip file which I got from exporting agent through dialogflow console. This is the implementation -
[code]
But I am facing this error
[code]
On unzipping the .zip file, I can clearly see agent.json file. I have tried directly importing-agent (using same .zip file) through dialogflow console, it is working fine. But it is showi

[2020-07-24 21:51] munkhuushmgl commented on #642
Best practice would be --> batch intents one layer at a time:
 1. All non follow intents
 2. follow up intents
 3. follow up follow up intents

Another possibility would be to not use followup intents. Instead just configure a root intent AA with output context. "AA-followup" and any followup intents to AA include input context "AA-followup". This would be behave the same in the practice, it just

[2020-07-24 21:51] #642 closed

[2020-07-25 10:39] dumkanki commented on #314
Hello everyone
getting  error in npm googleapis package Module not found: Can't resolve 'http2' in ./node_modules/googleapis-common/build/src/http2.js

as i have installed npm i googleapis  and trying installing http2 but again it is giving error using in reactjs

[2020-07-25 11:17] ankitnumer8 commented on #341
Hello everyone, we are also facing similar issue. any solution for this?

[2020-07-27 13:23] Jenetty opened #659 "Create Intent take parameters from the Training Phrases and tag an entity type in python?"
I'm fairly new to programming world.
I'm trying to create an Intent with API using python.
My intention is to create an intent from API which can
 - take training phrases
 - prompt for parameters inputs from user
 - fullfillment enabled for the intent

Example:

Intent_Display_Name = 'GetNameFromID'
Training Phrases = ['What is the name of the employee who's id is 6',"Please get name for ID 6"]

f

[2020-07-28 09:40] Jenetty commented on #659
Can someone please check this?

[2020-07-28 22:49] munkhuushmgl commented on #656
@dSecret I was able to reproduce your error

![image](https://user-images.githubusercontent.com/45373284/88729932-cc31e200-d0e9-11ea-9332-a35dff67067e.png)

Looking for a solution right now.

[2020-07-30 20:47] hannanikulina commented on #656
The same issue for me.
I export an agent and immediately restore it to another project and receive the same error despite the fact that agent.json is in the zip.

[2020-08-04 12:51] nollymar commented on #517
I have a similar issue using a webhook. On my webhook I set a fulfillment message which I see in the Dialogflow console (Diagnostic Info -> Fulfillment Response). However, if I look at the Raw API Response tab, the fulfillmentMessages field is empty and the detectIntent returns an empty message as well.

I am using version 2 and this is how I send the webhook response:
[code]

[2020-08-06 11:14] yoshi-automation opened #664 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/76bb7f6f-4d47-4888-b0d2-a8761a276cc8/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-08-06 17:51] munkhuushmgl commented on #659
@Jenetty I will help you with this.

[2020-08-06 19:03] yoshi-automation commented on #664
Autosynth passed, closing! :green_heart:

[2020-08-06 19:03] #664 closed

[2020-08-06 19:05] munkhuushmgl commented on #659
Were you able to do this using Dialogflow UI?

[2020-08-06 19:09] munkhuushmgl commented on #659
you can extract user ID by using system entity type number @sys.number  in your action. I would suggest you to do it in UI first, then client library after that. Also, this is not python repo. Next time, please create the issue in python-dialogflow repo.

[2020-08-06 20:52] munkhuushmgl commented on #640
@davidvc As I investigated into this bug, there has been a bug already reported internally. I will follow up on that internal bug.

[2020-08-06 20:57] davidvc commented on #640
Thanks, Mike. It's quite a blocker so hope we can get this resolved soon.

All the best,

David

On Thu, Aug 6, 2020 at 1:52 PM Mike <notifications@github.com> wrote:

[2020-08-06 21:00] munkhuushmgl commented on #507
@bivas6 I will add some indication if the user does not attempt to provide any voice.

[2020-08-06 23:12] munkhuushmgl commented on #659
closing this due to duplicate issue
https://github.com/googleapis/dialogflow-python-client-v2/issues/212

[2020-08-06 23:12] #659 closed

[2020-08-07 18:11] munkhuushmgl commented on #656
@hannanikulina  @dSecret Looks like you need to do is move the agentContent setting from your .AgentsClient() call to your .importAgent(), see the following:
[code]

this should solve this problem.

[2020-08-07 18:11] #656 closed

[2020-08-07 20:49] munkhuushmgl commented on #507
@bivas6 I was able reproduce your bug on nodejs and java. I am working on filing a bug against dialogflow.
I will keep you updated once I get response back from them.

[2020-08-12 04:21] #478 closed

[2020-08-12 22:47] munkhuushmgl commented on #646
@Isaben Looks like there is no `package.json` file in your reproduce repo.

Sorry about the late response.

[2020-08-13 20:42] barrtender commented on #132
By the way, the acceptable structure changed, so if anyone wants to pass queryParams in now the library to use as of 2020-08-13 is "pb-util". This encodes the payload like this:
[code]
Which is slightly different. Hopefully I save someone else a week or more of toil.

[2020-08-17 06:25] husseinajami10 opened #670 "getValidationError() is not a function."
I am trying this link https://googleapis.dev/nodejs/dialogflow/latest/google.cloud.dialogflow.v2.Agents.html#getValidationResult2
to get the validation result using APIv2 and NodeJS code but i always get an error .getValidationResult() is not a function.kindly find the below code:
const credentials = {

  "type": keys.CREDENTIALS_TYPE,

  "project_id": keys.GOOGLE_PROJECT_ID,

  "private_key_id":

[2020-08-18 12:12] harshan89 commented on #573
yes this is works for me fine, but there is a problem the property of intent (languageCode) is not working when i update the intent, i have to manage 4 languages so it's important.

[2020-08-19 05:56] harshan89 commented on #573
Fixed

[code]

[2020-08-19 18:36] MatthewPorter31 commented on #413
Hey there I'm working with googleapis in Node, and I am unable to find the setAgent method in the v2.d.ts file. I'm using the latest version, 59.0.0.

[2020-08-20 17:53] MatthewPorter31 opened #672 "Property setAgent does not exist on type Resource$Projects in v2.d.ts and v2beta1.d.ts"
Environment details
  - OS: Windows 10
  - Node.js version: `v10.13.0`
  - npm version: `googleapis - 59.0.0`
  - `@google-cloud/dialogflow` version: `3.2.0`

Steps to reproduce
1. import googleapis, initialize an oAuth2Client with tokens, and initialize dialogflow
`import { google } from 'googleapis'`
`const oAuth2Client = new google.auth.OAuth2(clientId, clientSecret, 'postMessage)'`
`oAuth2Clie

[2020-08-20 22:49] Isaben commented on #646
@munkhuushmgl yeah sorry about that, I missed it somehow, repo updated.
Also I tried with the more recent version `3.2.0` and the issue persists.

[2020-08-20 23:48] munkhuushmgl commented on #646
@Isaben I will try to reproduce it again.

[2020-08-25 19:51] Mohini0104 commented on #127
@google-cloud/dialogflow didn't help me in my scenario , whereas only dialogflow worked out in a  better way

[2020-08-25 19:53] Mohini0104 commented on #127
An error message "sessionClient.projectAgentSessionPath is not a function
    at runSample" like this is coming up on my console and i'm trying to resolve it but unable to do so. Please kindly help.

[2020-08-26 20:08] munkhuushmgl commented on #672
@MatthewPorter31 I will look into it.

[2020-08-30 03:26] #573 closed

[2020-08-31 09:28] yoshi-automation opened #674 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/5e8f7d64-c4b0-42ee-a523-c728fbdbba3c/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-09-01 09:29] yoshi-automation commented on #674
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/df31f338-7e45-408e-86cc-65d90d392d8b/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-09-02 09:29] yoshi-automation commented on #674
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/06ea10d4-6a71-462f-a9a8-dc9c206af967/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-09-03 09:41] yoshi-automation commented on #674
Autosynth passed, closing! :green_heart:

[2020-09-03 09:41] #674 closed

[2020-09-09 11:03] RiccardoCalvi opened #677 "Wrong NPM package in README?"
Shouldn't it be `npm install @google-cloud/dialogflow`?
With the current name I get the error `sessionClient.projectAgentSessionPath is not a function`.
See also https://stackoverflow.com/questions/63177431/node-and-dialogflow-error-unhandledpromiserejectionwarning-typeerror-sessionc.

Cheers,
Ricky

[2020-09-09 19:37] HiroshiHorie commented on #604
I must be totally blind also because the WebhookRequest, WebhookResponse interfaces exist in the package code but I can't access it from my code despite wasting a few hours.

[2020-09-11 19:13] bcoe commented on #677
@RiccardoCalvi thank you for the note, we should fix this 👍

[2020-09-22 12:38] xenx-efy commented on #132
@barrtender does it look like this?
[code]
it just doesn't work. I get an empty answer, because source has not changed

[2020-09-27 19:58] sumitsoni516 commented on #127
change this "sessionClient.projectAgentSessionPath "  to "sessionClient.sessionPath"  . not Session its session ok.
and also change the directories "\" to "/".

[2020-09-27 20:00] sumitsoni516 commented on #127
remove @google-cloud and be it remain  'dialogflow'

[2020-10-12 19:37] munkhuushmgl commented on #670
@husseinajami10 which version were u using for issue?

[2020-10-12 21:29] bcoe commented on #537
@jaycosaur with the latest version of the library, I see that the interface is now:

[code]

I believe this means you should be able to provide either a string version of the enum, or the numeric form of the enum:

[code]

Can you confirm that this is working for you now?

[2020-10-13 07:32] husseinajami10 commented on #670
i am using the api v2
________________________________
From: Mike <notifications@github.com>
Sent: Monday, October 12, 2020 7:37 PM
To: googleapis/nodejs-dialogflow <nodejs-dialogflow@noreply.github.com>
Cc: husseinajami10 <husseinajami10@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [googleapis/nodejs-dialogflow] getValidationError() is not a function. (#670)

@husseinajami10<ht

[2020-10-21 10:45] jacques0191 opened #696 "agentClient.restoreAgent resolves before LRO is actually done"
Calls to endpoints with long-running operations return an array with an operation object and an API response. You are supposed to be able to call operation.promise() which should resolve when the operation completes. In the scenario where the API response object's done property is set to true (in other words, the operation completed immediately), the promise resolves immediately even though the ag

[2020-10-21 11:44] jacques0191 commented on #696
Sorry for my mistake, did not read the docs. Anyone else facing this issue, you need to train the agent after the restore and wait for that operation to finish. As it is mentioned in the docs that the operation returned by the restoreAgent is only for the restore process not for the training process.

[2020-10-21 11:44] #696 closed

[2020-10-21 17:01] anhem115 commented on #20
Hi, I'm using the latest version of dialogflow and still got the issue with proxy.
Here is my GRPC log:
[code]

I tried to set up all `http_proxy` `https_proxy` `grpc_proxy` but stil can't

[2020-10-21 17:04] anhem115 opened #698 "Dialogflow with corporate proxy"
Hi, I'm using the latest version of dialogflow, with the basic example to detect an intent. I could make it run normally without proxy setting but got problem with proxy.
Here is the version in my package.json
[code]
I use the following environment variable:
http_proxy: myproxyserver.com:80
https_proxy: myproxyserver.com:80
grpc_proxy: myproxyserver.com:80

Here is my GRPC log:
[code]
I could see

[2020-10-23 16:28] anhem115 commented on #698
Closed since this issue is more relevant to grpc-js repository

[2020-10-23 16:28] #698 closed

[2020-10-23 20:09] anhem115 commented on #698
Update: This issue is fixed for the next version of grpc-js (1.1.8 apparently)

[2020-10-25 15:31] bivas6 commented on #507
@munkhuushmgl Why did you close it?

[2020-10-26 09:50] groverHarshit commented on #127
Try removing dialogflow and reinstalling

`npm uninstall dialogflow`

`npm install --save dialogflow`

Mine worked this way

[2020-10-28 22:45] shivasuri commented on #314
Running into the same issue:
[code]
The aforementioned issue doesn't seem to have any resolution. Is there any update on the timeline of supporting this with an app bootstrapped by `create-react-app`?

Additionally, if I try `npm i http2`, then the `npm start` output is
[code]
and the app fails during runtime (in browser) with `Error: Cannot find module './framer'`

[2020-11-03 13:12] bivas6 commented on #507
cc: @orgads @yoshigev

[2020-11-03 17:09] munkhuushmgl commented on #507
It won't fix (status)

[2020-11-03 18:07] orgads commented on #507
Why? Can you elaborate?

[2020-11-03 23:13] JoaquinIMT commented on #341
@callmehiphop This issue still is on, it happens in one of my agents but in the side of the webhook calls from dialogflow, have any advance?

[2020-11-04 18:21] munkhuushmgl commented on #507
@orgads I think it is not service or API related issue, and I would suggest set up some kind of retry logic for your specific files that has a long silence. However, i will contact internal team about this issue.

[2020-11-08 20:01] olivoil opened #708 "documentation request: webhook samples"
**Is your feature request related to a problem? Please describe.**

The project `dialogflow-fulfillment` is now deprecated, however it's still used in the default inline function when creating a webhook, and there is no clear recommendation to migrate from this library. `nodejs-dialogflow` seems to expose classes that would be useful to implement a webhook for fulfillment (`WebhookRequest` and `We

[2020-11-09 16:29] codebynao opened #709 "BUG: batchUpdateIntents seems to ignore the languageCode param when updating intents training phrases"
I want to add training phrases to multiple intents for several languages. To do so I tried to use `batchUpdateIntents` for each language but I can't manage to make it work only for the `languageCode` specify in the query.
Even if I specify a `languageCode` in the request, it still updates all the languages in Dialogflow with the training phrases sent.

I have a Dialogflow agent that has 3 language

[2020-11-09 17:10] telpirion commented on #507
Hi @orgads , are you using the `single_utterance` flag in your [`InputAudioConfig`](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3beta1#inputaudioconfig)?

[2020-11-13 11:06] build-cop-bot[bot] opened #711 "v2beta1 detection: should detect sentiment with intent failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 95a938dbc5f2cc49c217bb5d3cecbbffba3e6d18
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-11-13 11:49] mohan570 opened #712 "connect ECONNREFUSED 142.250.74.202:443 - request to https://www.googleapis.com/oauth2/v4/token failed"
Hi Team,

In recently last two months only we are getting below error while using detectTextIntent method( const responses = await sessionClient.detectIntent(request); ) in detect.js file( https://github.com/googleapis/nodejs-dialogflow/blob/master/samples/detect.js ).

The Error,

code: 'ECONNREFUSED',
2020-09-16 07:17 +02:00:   details: 'Getting metadata from plugin failed with error: request to

[2020-11-13 16:12] #711 closed

[2020-11-15 18:07] vickywane opened #713 "sessionClient.detectIntent retruns an invalid_request error"
Hi ,

I am currently using the `@google-cloud/dialogflow` package from a browser environment ( React.js App ). I have passed in the auth instance using the `google-auth-library`. I generated a refresh token using the Google OAuth Playground with the required scope for the Dialogflow service included, then I set the credentials of the Auth instance with the refresh_token.

This works fine until I t

[2020-11-16 19:16] munkhuushmgl commented on #709
@codebynao I will try to repro this on my end to see if I can get a same error.

[2020-11-16 19:22] munkhuushmgl commented on #613
@avallone-google From my understanding, this issue may be already fixed. Could you confirm it is fixed ?

if there is anything missing, I would like to make small changes for you.

[2020-11-16 20:26] avallone-google commented on #613
LGTM

[2020-11-16 22:21] #613 closed

[2020-11-17 10:36] yoshi-automation opened #714 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/56efccb8-6d0a-4d51-9b5c-a1f1439cf086/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-11-17 19:51] bcoe commented on #712
@mohan570 what environment are you running the dialogflow library in? Do you connect through a proxy?

[2020-11-17 21:25] SomervilleTom commented on #314
If this issue is going to be left "closed", then Google is lying -- some of us remember "Don't be evil" -- in its public documentation when it fails to loudly say that the `googleapis` is not compatible with create-react-app.

So I, as an nodejs/npm newbie, am apparently left on my own to write my own interface/adapter to the youtube api because all the resources of Google or Alphabet or whatever

[2020-11-17 22:03] JustinBeckwith commented on #314
@SomervilleTom I deleted your comment because it violated our code of conduct:
https://github.com/googleapis/nodejs-dialogflow/blob/master/CODE_OF_CONDUCT.md

If you'd like to file a new issue using your best kind words, along with specifics of what you're running into, we'd be happy to take a look.

[2020-11-18 03:53] mohan570 commented on #712
Hi Bcoe, Yes am connecting through proxy. but its connecting sometimes and detect the intent periodically error coming like below,

"
 Error: Getting metadata from plugin failed with error: request to https://www.googleapis.com/oauth2/v4/token failed, reason: connect ECONNREFUSED 142.250.74.202:443
 at Http2CallStream.<anonymous> (Application\ChatBot_API\node_modules\dialogflow\node_modules\@grpc\

[2020-11-18 05:24] SomervilleTom commented on #314
Let me try again, with more restraint. It is disappointing to find this issue marked as "closed" when "shivasuri" and at least four other people (including yours truly) are reporting this failure within the past month. I hope that that "closed" status will be revisited.

My specific experience is exactly the same as reported above by "shivasuri". I'm running CentOS 7 on an AWS EC2 instance. I deve

[2020-11-18 05:29] JustinBeckwith commented on #314
Awesome - thanks for reposting :) Could I trouble you to take this exact comment, and create a new issue?  When folks start commenting in the same issue, it has a funny way of confusing multiple issues, and making the thread a lot harder to follow.  I would create it for you, but I want to make sure you get notified and such when we post.  I am going to go ahead and lock this thread from here on o

[2020-11-18 06:00] SomervilleTom opened #716 "googleapis incompatible with apps created by CreateReactApp"
This updates an earlier "closed" issue reporting what may be the same bug. I do not have a Google support contract.

My specific experience is exactly the same as reported earlier by "shivasuri" and others on the other issue. I'm running CentOS 7 on an AWS EC2 instance. I develop using Visual Studio Code (VSC) on a local robust Win10 Pro system using the "RemoteSSH" extension to connect to the tar

[2020-11-18 10:33] yoshi-automation commented on #714
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/a16ab8f3-8935-483a-a45b-6d0182d4e70f/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-11-19 00:20] munkhuushmgl commented on #709
https://github.com/googleapis/dialogflow-python-client-v2/issues/204

[2020-11-19 00:44] munkhuushmgl commented on #709
@codebynao I was able to repro your issue. I am waiting for response back from the dialogflow team.

[2020-11-19 07:48] codebynao commented on #709
Great thanks!

[2020-11-19 11:13] yoshi-automation commented on #714
Autosynth passed, closing! :green_heart:

[2020-11-19 11:13] #714 closed

[2020-11-19 17:23] telpirion commented on #507
I'm going to close this issue for now. Please re-open it if you're still having issues. Thank you!

[2020-11-19 17:23] #507 closed

[2020-11-19 17:43] orgads commented on #507
Sorry, I forgot to reply. We use both modes of single_utterance, IIRC it depends on the language. @bivas6 can you elaborate? Do you remember on which mode we had this issue? Is it still happening?

[2020-11-19 17:43] orgads commented on #507
cc @yoshigev

[2020-11-19 20:03] bivas6 commented on #507
We are mostly using single_utterance = true, and yes it is still happening

[2020-11-19 20:54] orgads commented on #507
@telpirion I can't reopen. Can you please do it?

[2020-11-23 04:36] akshayravikumar commented on #716
I'm also having trouble using `googleapis` on a Next.js app - when I `npm i http2` I'm running into `Error: Cannot find module './framer'` at runtime.

[2020-11-23 23:11] bcoe commented on #712
@mohan570 are you setting the `http_proxy` environment variable. Perhaps you're connecting directly to a Google IP, and having it rejected by your corporate proxy?

[2020-11-24 16:51] vickywane commented on #713
@bcoe this issue still persists.

Can you please enlighten me on a likely fix?

[2020-11-25 12:50] mohan570 commented on #712
No we didnt http_proxy in environment variable

[2020-11-25 17:41] Mouser13 opened #720 "README as wrong install instructions"
Thanks for stopping by to let us know something could be better!

1) Is this a client library issue or a product issue?
This is the client library for dialogflow says npm install dialogflow when should be updated to npm install @google-cloud/dialogflow. Minor issue but me and cowork lost few hours to this.

2) Did someone already solve this?
  - Search the issues already opened: https://github.com

[2020-11-27 13:20] JBX028 commented on #341
Hi, same issue for me. Half of my calls end with this error :(

[2020-11-30 05:41] laljikanjareeya commented on #720
@Mouser13 Thanks for the report. Closing this issue as it's duplicate of #677. we will fix it soon.

[2020-11-30 05:41] #720 closed

[2020-11-30 15:29] #677 closed

[2020-11-30 16:18] bcoe commented on #713
@vickywane `@google-cloud/dialogflow` uses gRPC, which does not work in the browser. It should be possible to make things work using [webpack](https://github.com/googleapis/google-cloud-node/issues/2933#issuecomment-547657659), but we do not (as of today) actively support a browser environment with the library.

Another approach you might use is to have a backed service, perhaps in a Cloud Functio

[2020-11-30 16:51] vickywane commented on #713
Alright, i some statements on the last active thread with regards to this saying browser support is out but still experimental.

I'll just move forward with the Node express backend service like you have suggested, even though I tried running from it.

Closing this now.

[2020-11-30 16:51] #713 closed

[2020-12-02 18:46] munkhuushmgl commented on #716
We do not officially support React, but I will reach out to someone about this issue.

[2020-12-02 19:01] SomervilleTom commented on #716
@munkhuushmgl: I appreciate your attention.

Perhaps your resources can identify some sort of work-around. It will be unfortunate if I'm unable to use googleapi at all, especially since I don't need or use the affected behavior (http2 support).

In the absence of a work-around, perhaps the googleapi documentation might be updated to more prominently mention that googleapi is not compatible with Re

[2020-12-02 22:36] akshayravikumar commented on #716
@SomervilleTom So I was able to fix my issue by making sure I don't import any of the `googleapi` code until runtime, so that the import errors weren't an issue.

[2020-12-08 23:29] telpirion commented on #672
@MatthewPorter31 The snippet you provided doesn't show the best way to construct a Dialogflow client:

[code]

I will close this issue for now. Please reopen if necessary.

[2020-12-08 23:29] #672 closed

[2020-12-09 20:43] toyosix opened #725 "Error: 3 INVALID_ARGUMENT: Reading non-indexed column Documents.ServingState using index DocumentUris is not supported."
I am getting this error while creating a document on a knowledgebase

**Error: 3 INVALID_ARGUMENT: Reading non-indexed column Documents.ServingState using index DocumentUris is not supported. Please use an SQL query instead, or use a STORING clause to add it to the index.**

Here is my request:
{
  parent: knowledgeBaseFullName,
  document: {
              knowledgeTypes: [knowledgeTypes],

[2020-12-10 10:54] toyosix commented on #725
This is fixed. It was because of some quota/limits on the agent on dialogflow

[2020-12-10 10:54] #725 closed

[2020-12-10 20:53] barancev commented on #716
I continue using googleapis v.48.0.0 that does not have this issue (I use it in the frontend of a Vue serverless application). Any attempt to upgrade to a newer version ends with "This dependency was not found: http2 in ./node_modules/googleapis-common/build/src/http2.js" error.

[2020-12-11 10:32] yoshi-automation opened #726 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/3a6a9601-7655-4110-9f77-67fd621ca721/targets/github%2Fsynthtool;config=default/tests;query=nodejs-dialogflow;failed=false).

[2020-12-12 11:09] yoshi-automation commented on #726
Autosynth passed, closing! :green_heart:

[2020-12-12 11:09] #726 closed

[2020-12-16 03:53] thus001a commented on #604
I need the same feature. It looks like the GRPC API supports this: https://cloud.google.com/dialogflow/es/docs/reference/rpc/google.cloud.dialogflow.v2#google.cloud.dialogflow.v2.UpdateFulfillmentRequest
I would have thought the node API is automatically generated from the GRPC API? So why do they not offer the same features?

[2021-01-05 16:50] meelie commented on #709
Hi @munkhuushmgl , any news about this issue ?
Thanks !

[2021-01-05 17:02] munkhuushmgl commented on #709
I gave this a shot and it worked for an Intent that I created in the UI but didn't add any training phrases...

[code]
The response I got back:
image.png

After the update:
image.png

[2021-01-05 17:10] munkhuushmgl commented on #709
I added German as a language.
Confirmed that the intent in en had a training phrase but in de was empty:
en:
image.png
![image](https://user-images.githubusercontent.com/45373284/103676306-c3b1c300-4f35-11eb-940c-2d5466b5e907.png)

Ran the following to add a training phrase to the german intent:
"""
curl -X POST \
-H "Authorization: Bearer "$(gcloud auth print-access-token --impersonate-service-ac

[2021-01-06 09:34] antoineneff opened #731 "ERR_STREAM_WRITE_AFTER_END when streamingDetectIntent with singleUtterance config"
Hello,

When using the `streamingDetectIntent` method with the singleUtterance config to true, the stream will be ended after the first detected intent so the `ERR_STREAM_WRITE_AFTER_END` error will be triggered right after. I think it does work with no error with node v12 but not with node v14.

#### Environment details

  - OS: macOS 10.15.7
  - Node.js version: 14.15.0
  - npm version: 6.14.8

[2021-01-08 04:31] ducvu91 commented on #712
hello, it happened with me. i already testing with same case in many times. sometime happened, sometime not, not have specific case.

**Error 1:**
Error: ECONNREFUSED undefined: Getting metadata from plugin failed with error: request to https://www.googleapis.com/oauth2/v4/token failed, reason: connect ECONNREFUSED xxxxxx:443
at Object.callErrorFromStatus (/root/node_modules/google-gax/node_module

[2021-01-21 12:54] forking-renovate[bot] opened #734 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-01-29 22:43] b-loved-dreamer commented on #731
Hi @antoineneff, thank you for using our service. I was able to run this repro with no errors.
From the docs (when ```singleUtterance``` set to ```true```):

This would explain why you’re getting an error when you try to write additional requests to the service without having the client close the stream as needed.

Please, note:

If your audio input includes different "intentions" and you’re looki

[2021-02-01 10:32] antoineneff commented on #731
Hello @b-loved-dreamer, thank you for your answer.

I must have missed this detail in the docs.
For my use case, I need to detect intents as the audio plays, that's why I'm using the `singleUtterance` parameter (it automatically detects audio pauses).
Currently, I'm restarting the stream after every detected intent so everything is working fine (but I thought it was a workaround).

We can close th

[2021-02-01 16:56] b-loved-dreamer commented on #731
I am glad you were able to make it work. I will ask the appropriate team about the ```singleUtterance``` field. In any case, please feel free to visit the documentation. Again, thank you for using our service.

[2021-02-02 00:47] abhi007tyagi commented on #554
@JustinBeckwith the issue is resolved

[2021-02-10 13:47] glen-lee commented on #712
I would like to report similar issues.

But outside of ECONNREFUSED and 14 UNAVAILABLE, I've also been getting
Error: 4 DEADLINE_EXCEEDED: Deadline exceeded
    at Object.callErrorFromStatus (/app/node_modules/@grpc/grpc-js/build/src/call.js:31:26)
    at Object.onReceiveStatus (/app/node_modules/@grpc/grpc-js/build/src/client.js:176:52)
    at Object.onReceiveStatus (/app/node_modules/@grpc/grpc-

[2021-02-17 01:38] bcoe commented on #712
@glen-lee @ducvu91 how are you interacting with dialogflow?

* are you using a GoogleCloud product (_such as Cloud Run_) or are you connecting from your local machine or a corporate network?
* are you connecting through a corporate proxy?

[2021-02-17 04:55] glen-lee commented on #712
Hi, bcoe
1. I am not using Cloud Run. I am connecting from a production server through corporate network
2. I have asked the network admin and we don't use proxies. I have also checked the `http_proxy `& `https_proxy` env and none are set

In my case this problem occurs randomly. Sometimes I could send hundreds of requests with no problem at all but other times even 1 request will result in `ETIME

[2021-02-17 21:51] bcoe commented on #712
@glen-lee could you try running your application with the following environment variables set:

`GRPC_TRACE=all GRPC_VERBOSITY=DEBUG `

And share the log output when an error occurs?

[2021-02-18 02:23] glen-lee commented on #712
Hello, here are the logs on my server. I had both of those env set.

ETIMEDOUT:
[code]

14 UNAVAILABLE:
[code]

[2021-02-22 22:41] telpirion commented on #127
It looks like there is a workaround for this issue, so I'm going to close it. Please feel free to re-open this issue with more information.

[2021-02-22 22:41] #127 closed

[2021-02-22 23:12] b-loved-dreamer commented on #374
This issue has been handled. Reference [this](https://github.com/googleapis/nodejs-dialogflow/pull/739) for details. Closing this issue.

[2021-02-22 23:12] #374 closed

[2021-02-22 23:36] rachanakalchetty opened #741 "Dialogflow - environments not working or allowing to publish"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
This is the client library for . We will only be able to assist with i

[2021-02-22 23:36] rachanakalchetty opened #742 "Dialogflow - child intents not being triggered though it worked earlier"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
This is the client library for . We will only be able to assist with i

[2021-02-22 23:51] b-loved-dreamer commented on #405
Closing this issue. A solution seems to have been provided for this issue. If you disagree, please feel free to re-open this issue.

[2021-02-22 23:51] #405 closed

[2021-02-23 00:35] b-loved-dreamer commented on #742
Hi @rachanakalchetty, would you please elaborate more on the issue you're experiencing? The description section was left with default text.

[2021-02-23 01:22] #742 closed

[2021-02-23 08:07] codebynao commented on #709
So sorry it actually seems to work 😅  we missed an error in our code that caused the issue! Thanks for your answer!!

[2021-02-23 08:07] #709 closed

[2021-02-23 13:50] bivas6 opened #743 "Environments support"
Hi,

Can you add support for `projectLocationAgentEnvironmentSessionPath()` in the `SessionsClient` class?
I saw that this is exists in the df-cx library, but not in here.
Currently I manually create it like this:
[code]

Thanks

[2021-02-23 16:43] b-loved-dreamer commented on #716
Hi. This issue relates to client-side support of googleapis services. This topic was discussed [here](https://github.com/googleapis/nodejs-dialogflow/issues/405). I am now closing this issue. Please, reopen if needed.

[2021-02-23 16:43] #716 closed

[2021-02-23 17:25] telpirion commented on #741
@rachanakalchetty Please provide more details so that we can investigate. Thank you!

[2021-02-23 17:35] telpirion commented on #743
This sounds like a feature request for the Dialogflow service. Please file feature requests here:
https://issuetracker.google.com/savedsearches/5300385

[2021-02-23 17:35] #743 closed

[2021-02-23 21:13] b-loved-dreamer commented on #496
Hi @yoshigev, the ```endInteraction``` field is not guaranteed to be included in the intent object. Please, take a look at [this](https://cloud.google.com/dialogflow/es/docs/reference/rest/v2beta1/DetectIntentResponse).

Closing this issue. Please, reopen if needed.

[2021-02-23 21:13] #496 closed

[2021-02-24 01:10] b-loved-dreamer commented on #741
Hi @rachanakalchetty, would you please elaborate more on the issue you're experiencing? The description section was left with default text.

[2021-02-24 01:21] b-loved-dreamer commented on #670
Hi @husseinajami10, can you please provide more details around what your goal is and how you’re trying to get to that goal. Can you please describe your goal. It's difficult to discern from the code you shared.

[2021-02-24 19:56] b-loved-dreamer commented on #530
Thank you for filing this issue. We replied to this issue a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue if needed.

[2021-02-24 19:56] #530 closed

[2021-02-24 19:57] monkfruit123 commented on #741
This is a feature that I am interested in as well. As I understand, the dialogflow API does not support publishing a new version of the bot, or to "promote" a version of the bot to higher environments.

I would love to be able to orchestrate deployment through pipelines, but because the API does not exist, we have to login to the console to do this.

[2021-02-24 20:10] monkfruit123 opened #744 "Adding self signed cert to ChannelCredentials is not working"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Due to corporate proxy, calls to Dialogflow fail citing a SSL issue.

`E0224 15:00:59.989000000 24080 ssl_transport_security.cc:1245] Handshake failed with fatal error SSL_ERROR_SSL: error:1

[2021-02-24 20:37] b-loved-dreamer commented on #406
From the [README](https://googleapis.dev/nodejs/dialogflow/latest/index.html). Closing this issue.

[2021-02-24 20:37] #406 closed

[2021-02-24 22:28] b-loved-dreamer commented on #529
Thank you for filing this issue. We followed up with a suggestion to file a feature request [here](https://b.corp.google.com/savedsearches/5300385) a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue if needed.

[2021-02-24 22:28] #529 closed

[2021-02-25 16:46] #467 closed

[2021-02-25 20:28] b-loved-dreamer commented on #517
For reference, this is the [docs](https://cloud.google.com/dialogflow/es/docs/reference/rest/v2/DetectIntentResponse) for the ```DetectIntentResponse```. All samples related to intent detection [here](https://cloud.google.com/dialogflow/es/docs/how). I am closing this issue. Please,  reopen if needed.

[2021-02-25 20:28] #517 closed

[2021-02-25 20:33] b-loved-dreamer commented on #450
This issue seems to now be obsolete. Closing this issue. Please, reopen if needed.

[2021-02-25 20:33] #450 closed

[2021-02-26 20:29] monkfruit123 commented on #744
Any help would be much appreciated!

[2021-03-02 18:11] b-loved-dreamer commented on #741
Hi @monkfruit123 — we are trying to understand the specifics of this feature request, if indeed it is a feature request. The originator of this issue ticket has not provided a descriptive answer to that effect. If this is something you are trying to pursuit, please open a new issue and explain with clarity what it is you want to see included as part of our service and we'll determine if your reque

[2021-03-02 18:11] b-loved-dreamer commented on #741
Thank you (@rachanakalchetty)  for filing this issue. We asked some clarifying questions a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue with more information.

[2021-03-02 18:11] #741 closed

[2021-03-02 20:07] munkhuushmgl commented on #646
@Isaben
![image](https://user-images.githubusercontent.com/45373284/109708003-affa9580-7b4f-11eb-949b-033ea4e1fc8d.png)
Not sure if you still having issue or not.

Looks like I got same empty response.

[2021-03-02 20:19] munkhuushmgl commented on #646
![image](https://user-images.githubusercontent.com/45373284/109709333-35cb1080-7b51-11eb-9350-7f2e57ef4e4d.png)

looks like it working as intended

I do not fully understand what you are trying to accomplish

[2021-03-02 21:13] munkhuushmgl commented on #744
Have u tried updating grpc version to latest?

[2021-03-02 22:22] monkfruit123 commented on #744
I looked at the package-lock.json files and the two dependencies look like they are the latest. Are they any other I should update to latest?

@grpc/grpc-js - 1.2.9
grpc - 1.24.5

[2021-03-03 18:39] b-loved-dreamer commented on #708
@olivoil — Thank you for filing this issue. We are going to carefully consider this ```feature request``` for updates to the ```dialogflow``` samples and documentation. In the mean time, please check out this [tutorial](https://cloud.google.com/dialogflow/es/docs/tutorials/sequences/create-fulfillment-using-webhook).

[2021-03-04 21:26] b-loved-dreamer commented on #731
For the sake of documenting, this [PR](https://github.com/googleapis/nodejs-dialogflow/pull/739) fixes the "```singleUtterance ```param is not in the right place in the Node.js example" noticed by the user in this issue ticket.

[2021-03-04 21:26] #731 closed

[2021-03-05 01:25] josegpulido commented on #341
Any update on this? I can't figure out how these threads are opened since 2 or 3 years ago and no one at the Google Team brings a solution or even an explanation at least. My team and I've spent so much time since weeks but nothing seems to work, literally. We thought about even migrate and leave definitively Firebase since this is a critical error to us.

[2021-03-09 18:47] monkfruit123 commented on #744
Any suggestions? I still haven't been able to solve this issue.

[2021-03-09 23:46] munkhuushmgl commented on #744
Hey @bcoe Can you help me on this?

[2021-03-10 00:12] bcoe commented on #744
@monkfruit123 rather than manually instantiating the gRPC client, try setting `https_proxy`:

https://github.com/grpc/grpc-node/blob/b44502144c3a5a1f40e6ba0b701ee8d21100d37f/packages/grpc-js/src/http_proxy.ts#L45

Then try setting the environment variable, `NODE_TLS_REJECT_UNAUTHORIZED=0`; which should suppress the SSL_ERROR_SSL -- this is not recommended if you do not trust that the certificates

[2021-03-12 23:21] bcoe commented on #712
@mohan570 was your problem solved by setting the `http_proxy` variable?

@glen-lee could you open a new issue describing your specific issue?

[2021-03-22 23:15] frederickjjoubert opened #789 "Sample code for TypeScript applications"
**Is your feature request related to a problem? Please describe.**

I am unable to find any sample code using @google-cloud/dialogflow using TypeScript. All the samples given are in JavaScript. I am currently working in an Angular project and would like to use dialogflow but I cannot find any examples. I'm not even sure what to import.

`import ??? from '@google-cloud/dialogflow`

 **Describe the

[2021-03-25 08:01] acoroleu-tempus commented on #380
Any updates on this?
From dialogflow console I see there's this request which updates agent settings:
Request URL: `https://dialogflow.clients6.google.com/v2beta1/projects/[agentId]/locations/global/agent:updateSettings?alt=json&key=[apiKey}`
Which seems allowed to change **Automatic Training**.
How can we perfom that request using this library?

[2021-03-25 15:34] b-loved-dreamer commented on #646
This is normal under current API set-up. Closing this issue. Please reopen if needed.

[2021-03-25 15:34] #646 closed

[2021-03-25 15:38] b-loved-dreamer commented on #670
Thank you for filing this issue. We asked clarifying questions a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free re-open this issue with more information.

[2021-03-25 15:38] #670 closed

[2021-03-25 15:46] b-loved-dreamer commented on #708
Closing this issue.

[2021-03-25 15:46] #708 closed

[2021-03-25 19:37] arthur-es commented on #472
I'm also intered in this Issue. I really need to get the number of sessions so I can inform my clients.

[2021-03-29 23:45] b-loved-dreamer commented on #483
This issue might no longer be relevant due to its age. Feel free to re-open.

[2021-03-29 23:45] #483 closed

[2021-03-29 23:52] b-loved-dreamer commented on #516
This issue might no longer be relevant due to its age. Feel free to re-open.

[2021-03-29 23:52] #516 closed

[2021-03-30 15:12] JuanUnited opened #791 "Timezone response"
Hi there!

I'm looking how to set a response based on my timezone, like "Hi, we are out of hour, come later"

[2021-03-31 22:51] b-loved-dreamer commented on #522
It looks like this issue may no longer be relevant. Feel free to re-open.

[2021-03-31 22:51] #522 closed

[2021-03-31 22:55] b-loved-dreamer commented on #570
I tried reproducing this issue but was unable to. I am closing this issue but feel free to re-open if needed.

[2021-03-31 22:55] #570 closed

[2021-03-31 23:16] b-loved-dreamer commented on #537
Thank you for filing this issue. We asked some clarifying questions a week or more ago and never heard back from you, so we are closing it. Please feel free to re-open this issue.

[2021-03-31 23:16] #537 closed

[2021-04-05 17:51] vdo9 commented on #789
@lucaswadedavis hello all! Is there any updates on this? thank you!

[2021-04-06 00:28] nternouski commented on #789
Hi, i use imports like this:
[code]
Where:
* SessionsClient is for match intents, you need to instance the class first like this:
[code]
* And `protos` is for types which you need import.

[2021-04-06 01:29] nternouski opened #793 "Error when use name attribute on createIntent"
### Environment details

  - OS: Windows
  - Node.js version: 12
  - npm version: 6.13.4
  - `@google-cloud/dialogflow` version: 3.4.0

### Steps to reproduce

I want to create an Intent but i have problems with `name` attribute.
1. if i not include the parameter name in the function, i get an error "Resource name does not match format"
2. if i include the parameter name, i get an error: "Please o

[2021-04-06 13:05] nternouski commented on #793
I can fix the problem, the problem was in `inputContextNames` because the name is the path of de context not the only the name (dieplay name).

I mark the issue as close.

[2021-04-06 13:05] #793 closed

[2021-04-08 09:42] yoshi-automation opened #795 "Synthesis failed for nodejs-dialogflow"
Hello! Autosynth couldn't regenerate nodejs-dialogflow. :broken_heart:

Please investigate and fix this issue within 5 business days.  While it remains broken,
this library cannot be updated with changes to the nodejs-dialogflow API, and the library grows
stale.

See https://github.com/googleapis/synthtool/blob/master/autosynth/TroubleShooting.md
for trouble shooting tips.

Here's the output from

[2021-04-09 09:44] yoshi-automation commented on #795
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Please investigate and fix this issue within 5 business days.  While it remains broken,
this library cannot be updated with changes to the nodejs-dialogflow API, and the library grows
stale.

See https://github.com/googleapis/synthtool/blob/master/autosynth/TroubleShooting.md
for trouble shooting tips.

Here's the output from r

[2021-04-10 09:42] yoshi-automation commented on #795
Autosynth is still having trouble generating nodejs-dialogflow. :sob:

Please investigate and fix this issue within 5 business days.  While it remains broken,
this library cannot be updated with changes to the nodejs-dialogflow API, and the library grows
stale.

See https://github.com/googleapis/synthtool/blob/master/autosynth/TroubleShooting.md
for trouble shooting tips.

Here's the output from r

[2021-04-11 11:09] yoshi-automation commented on #795
Autosynth passed, closing! :green_heart:

[2021-04-11 11:09] #795 closed

[2021-04-11 21:23] davidvc commented on #640
This is no longer an issue with the new Conversational Actions SDK

[2021-04-11 21:23] #640 closed

[2021-04-16 23:55] b-loved-dreamer commented on #476
Closing this issue. May no longer be relevant.

[2021-04-16 23:55] #476 closed

[2021-04-16 23:57] b-loved-dreamer commented on #559
This issue may no longer be relevant so I am closing it. Please, reopen if needed.

[2021-04-16 23:57] #559 closed

[2021-04-17 00:03] b-loved-dreamer commented on #597
Hi @guilhermegehres — I found this [information](https://cloud.google.com/dialogflow/es/docs/agents-versions), potentially, on agent versioning. If still relevant, please take a look at it.

I am closing this issue given that it may no longer be relevant. If needed, please reopen.

[2021-04-17 00:03] #597 closed

[2021-04-17 00:16] b-loved-dreamer commented on #561
Introducing this feature request to a Public Issue Tracking. Closing this issue.

[2021-04-17 00:16] #561 closed

[2021-04-17 08:19] wparad commented on #597
Please reopen, we want to do with through the API/library, not in the console.

[2021-04-18 09:24] bivas6 opened #800 "Support for Output Audio Encoding MULAW"
Hi,

We saw much improvement in the speech recognitions using MULAW in dialogflow-cx.
We need to use the same audio encoding for input and output audio.
For some reason, the ES SDK doesn't seems to support output audio encoding MULAW, although it specified in the [docs](https://cloud.google.com/dialogflow/es/docs/reference/rpc/google.cloud.dialogflow.v2#outputaudioencoding)

We would appreciate a

[2021-04-19 08:31] uk-ropstam opened #801 "Intent Get : IAM permission 'dialogflow.intents.get'"
Hi, I've problem with dialogflow. Create and all intents api is working for me but  specific intent fetch not working.Also try this [https://github.com/googleapis/nodejs-dialogflow/issues/151](url)  changes but not worked.
`Error: 7 PERMISSION_DENIED: IAM permission 'dialogflow.intents.get' on 'projects/projectsName/agent/intents/intentID' denied.
  code: 7,
  details: "IAM permission 'dialogflow.

[2021-04-19 14:33] awolad commented on #341
Same here. Still, now I'm getting this error.

![image](https://user-images.githubusercontent.com/9510958/115253702-73f6b080-a14e-11eb-9c25-c43046cf31e6.png)

[2021-04-20 16:22] telpirion commented on #800
Thank you very much for the feature request! Please file your request here on the [public issue tracker](https://issuetracker.google.com/issues/new?component=501190).

[2021-04-20 16:22] #800 closed

[2021-04-21 09:18] yoshigev commented on #800
Hi @telpirion,
Isn't the public issue tracker intended for issues with the cloud service?
@bivas6 request only regards the NodeJS SDK.
I believe that simply adding `OUTPUT_AUDIO_ENCODING_MULAW = 5` to the `OutputAudioEncoding` enum would be enough.
For example, the Java SDK supports it (see [here](https://googleapis.dev/java/google-cloud-dialogflow/latest/com/google/cloud/dialogflow/v2beta1/Output

[2021-04-21 16:15] lucaswadedavis commented on #801
Hi uk-ropstam! I'm a little confused. Your comment says you're having a problem fetching a single intent, but your code tries to list all intents. Can you clarify what you're trying to do?

[2021-04-21 17:57] uk-ropstam commented on #801
My bad was some Credentials issue.Credentials are dynamic that's i face this issue.

[2021-04-21 17:57] #801 closed

[2021-04-27 16:00] ceekaymats opened #808 "Ending sessions using the handshake protocol from Messenger"
Hello, I have two Dialogflow agents connected to two Facebook Messenger Pages, one is the primary page and the second is the secondary. I am using the handshake protocol to handle control as to which Dialogflow agent responds to which intent. Is it possible to create a session that expires and automatically returns conversation control back to the primary agent after a specific time frame of inact

[2021-04-30 00:16] b-loved-dreamer commented on #472
Hi  @tiagoPacheco — this [information](https://cloud.google.com/dialogflow/es/docs/analytics#:~:text=The%20Dialogflow%20Console%20provides%20an,used%20to%20improve%20your%20agent.&text=For%20most%20views%2C%20only%20successful,the%20V2%20API%20are%20included.) about the ```dialogflow``` analytics page includes references to other service, ```tag_consumed_api``` [that might be helpful in your case]

[2021-04-30 00:16] #472 closed

[2021-04-30 00:24] b-loved-dreamer commented on #604
Hi @chroth7 — Here's a [resource](https://developers.google.com/assistant/conversational/df-asdk/dialogflow/fulfillment) that may be helpful.

This issue has remained inactive for a while so I am closing it, but please feel free to reopen if needed.

[2021-04-30 00:24] #604 closed

[2021-04-30 07:13] chroth7 commented on #604
hi @b-loved-dreamer  - sadly, I wasn't working much with Dialogflow recently, so fine for me to close for now. I assume the other commenters agree :-)

Also, thanks for the link, will have a look!

[2021-04-30 21:47] #744 closed

[2021-05-05 08:44] Salah856 opened #811 "enable intgration with lex service"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

[2021-05-05 08:44] #811 closed

[2021-05-08 15:08] crup opened #813 "Is this library a replacement for https://github.com/googleapis/nodejs-dialogflow?"
I'm currently using this SDK which seems unmaintained at the moment. Is this repository a replacement for https://github.com/dialogflow/dialogflow-fulfillment-nodejs?

[2021-05-10 15:49] munkhuushmgl commented on #813
@frankyn @lucaswadedavis Can you guys answer this question ?

[2021-05-13 16:05] sgreenberg commented on #712
Thank you for filing this issue. We asked some clarifying questions a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue with more information.

[2021-05-13 16:05] #712 closed

[2021-05-27 17:10] sgreenberg commented on #791
Thank you for filing this issue. This Github repo is used for issues with the Node.js Dialogflow client library . This issue appears to be a question about your specific implementation rather than a problem with the product or library. Unfortunately this is not a staffed support channel for Dialogflow. Here are some options you can consider: Google Cloud Platform support options are at https://clo

[2021-05-27 17:10] #791 closed

[2021-05-28 17:47] sangdth commented on #789
@nternouski What is the TypeScript part in your example? Sorry maybe I miss something?

[2021-05-28 21:05] nternouski commented on #789
i import classes like SessionsClient in my example, in TypeScript you import clases, interfaces, et.

[2021-06-01 23:41] b-loved-dreamer commented on #813
Hi @crup. This repo is not an official replacement for the repository you referenced. You can learn more about ```Fulfillment``` in the [documentation](https://cloud.google.com/dialogflow/es/docs/quick/fulfillment) page.

Additionally, if you want to do any fulfillment-related setup, you can click on the Fulfillment panel on your DialogFlow [Dashboard](https://dialogflow.cloud.google.com/#/agent/p

[2021-06-07 11:53] pranjalvatsa commented on #151
Hi,

I have followed all of these steps but still getting PERMISSION DENIED. My service account is set to DialogFlow Admin.

[2021-06-07 12:01] pranjalvatsa opened #819 "PERMISSION_DENIED: IAM permission 'dialogflow.sessions.detectIntent' on 'projects/lead-gen-wjd9/agent' denied."
I am getting a permission denied error when trying to call DialogFlow API from my Nodejs webhook from Twlio. I have given DialogFlow API Admin role to the service account created.

[2021-06-09 15:25] b-loved-dreamer commented on #813
Thank you for filing this issue. We provided feedback a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue with more information.

[2021-06-09 15:25] #813 closed

[2021-06-10 15:32] b-loved-dreamer commented on #819
Hi @pranjalvatsa. Can you please share more details? In the meantime, make sure you're following the setup steps in the doc [page](https://cloud.google.com/dialogflow/cx/docs/quick/setup).

[2021-06-10 23:28] gcf-owl-bot[bot] opened #822 "Invalid .github/.OwlBot.yaml"
`owl-bot` will not be able to update this repo until '.github/.OwlBot.yaml' is fixed.

Please fix this as soon as possible so that your repository will not go stale.

[2021-06-11 15:57] monkfruit123 commented on #744
Apologies for following up on this after a while.

Is there a way to install the certificates so we don't need to set the environment variable?

[2021-06-14 03:24] patlim8 commented on #819
I get this problem too. i try using this code from Google cloud
[https://cloud.google.com/dialogflow/es/docs/quick/api](url)

botan-2 is my project id in Google cloud platform

`/**
 * TODO(developer): UPDATE these variables before running the sample.
 */
// projectId: ID of the GCP project where Dialogflow agent is deployed
const projectId = 'botan-2';
// sessionId: String representing a random n

[2021-06-14 05:24] patlim8 commented on #819
mine is solved now, I solve it by creating new service account and authenticate with new key.

[2021-06-14 06:03] pranjalvatsa commented on #819
Yes, this issue got resolved for me as well. Creating a new account did the trick.

[2021-06-14 06:03] #819 closed

[2021-06-15 00:42] #822 closed

[2021-06-15 17:01] failure-checker[bot] opened #827 "Warning: a recent release failed"
The following release PRs may have failed:

* #826

[2021-06-17 16:13] telpirion commented on #789
Thank you for your feature request for updates to the Dialogflow samples and documentation. After careful consideration, we have decided not to proceed with this enhancement. We do not currently support Typescript among our written samples.

If you disagree, please feel free to re-open this issue and explain why you believe it is essential. Alternatively, we invite you or any other community membe

[2021-06-17 16:13] #789 closed

[2021-06-18 18:01] #827 closed

[2021-06-23 20:20] gad2103 commented on #380
i would also like to know if there is any plan for allowing access to the UI api for `https://dialogflow.clients6.google.com/v2beta1/projects/[agentId]/locations/global/agent:updateSettings?alt=json&key=[apiKey}`

it allows you to set speech settings and other valuable fields for the agent. here's an example payload:
[code]

[2021-06-24 00:31] b-loved-dreamer commented on #808
Hi @ceekaymats — thank you for posting this issue. In my understanding, your problem is divided in two parts: adding a timeout parameter to your session (that starts ticking after it detects that the user stopped interacting with the agent) AND automatically returning control of the conversation back from Secondary Agent to Primary Agent.

It sounds like you already have the control assigning part

[2021-06-24 15:42] frederickjjoubert commented on #390
Hey guys, is angular still not supported? I am trying to add dialog flow to my ionic angular project and got the same error.

[2021-06-24 15:44] frederickjjoubert commented on #789
@nternouski thanks for your example code, that resolved the import errors from me.

Now that is working, I am having the same issue as [https://github.com/googleapis/nodejs-dialogflow/issues/390](https://github.com/googleapis/nodejs-dialogflow/issues/390)

Is angular still not supported by dialogflow?

[2021-06-25 16:27] flaky-bot[bot] opened #833 "v2beta1.AnswerRecordsClient getAnswerRecord: invokes getAnswerRecord without error failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 08ef5e59076b498fb423279059ab11de95a54e58
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/bb

[2021-06-25 16:27] flaky-bot[bot] opened #834 "v2beta1.ParticipantsClient compileSuggestion: invokes compileSuggestion without error failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 08ef5e59076b498fb423279059ab11de95a54e58
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/bb

[2021-06-25 16:27] flaky-bot[bot] opened #835 "v2beta1.ParticipantsClient listSuggestions: invokes listSuggestions without error failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 08ef5e59076b498fb423279059ab11de95a54e58
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/bb

[2021-06-25 19:25] #835 closed

[2021-06-25 19:25] #834 closed

[2021-06-25 19:25] #833 closed

[2021-06-29 20:01] failure-checker[bot] opened #838 "Warning: a recent release failed"
The following release PRs may have failed:

* #805
* #826

[2021-07-02 17:01] #838 closed

[2021-07-07 17:25] b-loved-dreamer commented on #808
I am now closing this issue as it may no longer be relevant. Feel free to reopen.

[2021-07-07 17:25] #808 closed

[2021-07-21 07:06] saikrishna321 opened #846 "Dialogflow with contexts"
Hi Team,

I'm trying on implementing hangout bot with dialogflow and one of the intent required certain fields. I can't find sample around on how to use the same sessionID from the first requests.

Current implementation:

[code]

Usage
[code]

How to use the sessionID which is already a part of the outputcontexts?

[2021-07-23 23:16] b-loved-dreamer commented on #846
Hi @saikrishna321. I think you need to handle potential conversation turns in your ```dialogflow''' experience based on the context with the end user. Are you using follow-up intents?

From the docs:

https://cloud.google.com/dialogflow/es/docs/contexts-follow-up-intents
https://cloud.google.com/dialogflow/es/docs/api-overview?hl=en
https://www.youtube.com/watch?v=-tOamKtmxdY

[2021-07-24 06:09] saikrishna321 commented on #846
@b-loved-dreamer Thanks for quick response. I'm using Liner Dialogs and currently I'm able to get it working by setting a sessionID for the entire session. For Ex:

User: When is the next holiday? -> Unique sessionID is generated using the userID which is 36byte
Bot: Are you looking for Public or Optional Holiday?
User: Public
Bot: Response

For all the request to Dialogflow I'm using the same ses

[2021-07-26 19:51] b-loved-dreamer commented on #846
You should be able to use the session through the life of the conversation.  Once the conversations ends, you discontinue using the session.

[2021-07-28 00:11] vicrad commented on #341
The problem is in the firebase-admin version, the fulfillment is created with version 5.13.1, this for a reason that I do not understand, it randomly failed when it goes to generate the token, my solution was to edit the cloud function from the google console and edit the package.json to change the version 5.13.1 to 9.11.0 and lauch the new cloud function.

This is mi new package.json

`
  "depend

[2021-07-29 22:21] eGlobeBizCom commented on #127
**Subject: Firebase Functions Dashboard shows this error message: " TypeError: dialogflow.SessionsClient is not a constructor"  in 2021**

Hi All

Our Firebase Functions web apps connected with Dialogflow platform API had worked correctly from 2017 till June/2021;  Then, we updated the following libraries with our code package in July/2021; Then, our input on our web apps cannot be passed to our c

[2021-07-30 22:29] eGlobeBizCom opened #849 "The recent changes on @google-cloud/dialogflow library caused several Errors in our app: One of them is ( TypeError: dialogflow.SessionsClient is not a constructor)"
**Subject: Firebase Functions Dashboard shows this error message: " TypeError: dialogflow.SessionsClient is not a constructor" in 2021**

Hi All

Our Firebase Functions web apps connected with Dialogflow platform API had worked correctly from 2017 till June/2021; Then, we updated the following libraries with our code package in July/2021; Then, our input on our web apps cannot be passed to our cha

[2021-08-02 17:24] b-loved-dreamer commented on #846
Thank you for filing this issue. We provided feedback a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue with more information.

[2021-08-02 17:24] #846 closed

[2021-08-02 19:59] b-loved-dreamer commented on #849
Hi @eGlobeBizCom — have you tried running the ```@dialogflow``` part detached from the Firebase implementation? Just to see if you get any errors with your installed version of the service.

[2021-08-02 20:17] eGlobeBizCom commented on #849
Hi Franklin,

#==============
 have you tried running the @dialogflow part detached from the Firebase
implementation?
=====================
No!   We only have  Index.js on Firebase Functions talking with
Dialogflow APIs.

Thanks,

On Mon, Aug 2, 2021 at 12:59 PM Franklin Nunez ***@***.***>
wrote:

[2021-08-02 21:56] b-loved-dreamer commented on #849
So we can say the ```Firebase``` environment may be a contributing factor in this situation. Let me ask the appropriate folks and get back to you as soon as I hear back from them.

[2021-08-04 09:37] vikasrairajput opened #851 "DialogFlow NodeJs Detect intent is taking too long time"
I'm using dialogflow node js in cloud functions but I can see the delay around 30 secs in detect intent

Here is my Code:
**index.js**
[code]

If the support paths suggested above still do not result in a resolution, please provide the following details.

#### Environment details

  - OS: Deploying from MAC OS and Debugging in Android App
  - Node.js version: 14
  - npm version: 6.14.13
  - `@goog

[2021-08-06 07:45] eGlobeBizCom commented on #849
**Subject: More info about the code in our Index.js + Wish to hear any suggestions shortly about fixing this bug**

Hi All,

#The following code has been in the Index.js of our apps since 2018
*******************
const { google } = require('googleapis')
const dialogflow = require('dialogflow');
const uuid = require('uuid');
***********************
Based on my info, now Dialogflow is part of Google

[2021-08-13 04:50] shoaibansari951 commented on #849
you need to update dialogflow version using "npm install @google-cloud/dialogflow" command and then create sessionClient/client as given below:
const client = new dialogflow.SessionsClient();
and then create session path as given below:
const sessionPath = client.projectAgentSessionPath(projectId, sessionId);

[2021-08-16 11:42] leesus opened #863 "Unable to update environment with new agent version"
I am unable to update the published agent version of a custom environment using the EnvironmentsClient `updateEnvironment` method, I get an error that the update mask is referencing output only field `agentVersion`. Promoting an agent version using the REST API or with the old `googleapis` dialogflow library work correctly (`projects.agent.environments.patch`).

#### Environment details

  - OS: m

[2021-09-02 03:52] matheusbaumgart commented on #151
For me, the issue was that months ago I've added GOOGLE_APPLICATION_CREDENTIALS to my `.zshrc` file. Now while working on another project the `.env` sets GOOGLE_APPLICATION_CREDENTIALS to another path but gets ignored and the one from my system variable is used instead.

[2021-09-07 17:03] b-loved-dreamer commented on #851
Thank you for filing this issue. We asked some clarifying questions a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue with more information.

[2021-09-07 17:03] #851 closed

[2021-09-13 23:50] gcortinez commented on #149
same problem ussing a service account but in different project-id.

[2021-09-16 19:45] b-loved-dreamer commented on #863
Hi @leesus — thank you for filing this issue. Documentation about the ```updateMask``` can be found [here](https://cloud.google.com/dialogflow/es/docs/how/field-mask#node.js). An ```agentVersion``` cannot be updated through this API call, ```updateEnvironment```. The ```updateMask``` field does not allow you to update the agent version because there is a separate/different API call you need to mak

[2021-09-24 17:07] b-loved-dreamer commented on #863
Thank you for filing this issue. We asked provided feedback a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue with more information.

[2021-09-24 17:07] #863 closed

[2021-09-25 09:23] nvtuan305 commented on #522
I got same issue. Don't know why? Sometime, Dialogflow return array of nulls `[ null, undefined, undefined ]`

[2021-10-04 14:52] VinayBaviri opened #882 "How to access particular version of an environment in dialogflow from node ?"
Hi there,

I started using dialogflow for chat-bot integration in one of my projects and reading official docs helps me alot. I learnt many things and as a part, i can able to access one particular agent environment from [node ](https://googleapis.dev/nodejs/dialogflow/latest/v2beta1.SessionsClient.html#projectAgentEnvironmentUserSessionPath) also. But every time when new intents are added, publis

[2021-10-11 13:08] Xeelley commented on #522
@nvtuan305 it was a plenty of time ago, but if I remember correclty I found that this issue refered to Node.js HTTP/2 protocol handling (not sure because of ustream API or Node.js agent). I didn't found any correlations between request body / duration / whatever and probability of error. Also only one real way to reproduce this issue is just consistently call `detectIntect` with same request body

[2021-10-12 13:52] VinayBaviri opened #886 "dialogflow multiple parallel requests handling"
Hi all, I'm dealing with dialogflow integration for chatbot in one of my applications. Trained intents , published different versions to different environments. Upto this works excellent as expected. But when we move to production and we got parallel request to dialogflow through node. At this time, getting many timeout responses and users not getting configured messages .

Configured webhook in t

[2021-10-20 17:12] #886 closed, assigned to nobody

[2021-11-10 04:18] rnsloanwool opened #898 "Parameter bug with createIntent method"
#### Environment details

  - OS: OS X 11.6
  - Node.js version: v12.18.3
  - npm version: 6.14.6
  - `@google-cloud/dialogflow` version: 3.3.0

#### Steps to reproduce

1. create an intent using `createIntent`. It should have at least one entity usage in its training phrases. It should not have any parameters
2. inspect the intent after creation with `getIntent()`. It should not have any paramete

[2021-11-15 19:33] galz10 commented on #898
Hi @rnsloanwool, i'm having a tough time understanding what you're trying to achieve. Are you trying to create an intent with an email and make sure the email isn't a parameter ?

[2021-11-15 23:17] rnsloanwool commented on #898
Hi @galz10 . No email was just a random entity used as an example.

If would like to know the actual use case that made us discover this, we are creating Intents via the API that use a custom entity in its training phrases. The Intents have the webhook enabled and in the fulfilment layer the parameter value is used to generate the response. However, we noticed that no parameter value existed.

Inv

[2021-11-15 23:33] galz10 commented on #898
oh okay i see, so let me just restate what you're saying so i make sure we're on the same page. So basically when calling the API without a parameter value the create intent call should be rejected correct ?

when looking at your code it looks like you are specifying the parameter here :

[code]
That's why when you look at the UI the parameter shows up.

[2021-11-15 23:47] rnsloanwool commented on #898
A parameter shows up in the UI, but if you check the intent afterwards with a call to `getIntent()` or try to use the parameter value in a fulfilment layer, it does not exist.

My expected behaviour:

1. reject the API call unless you explicitly create the parameter in the same request, the CX solution, e.g.
[code]

must be present.

2. automatically create the parameter.

[2021-11-16 19:20] galz10 commented on #898
@rnsloanwool okay i understand now, i was able to reproduce what you are seeing and i created a bug.
Thank you for bringing this to our attention. I'll probably close this bug soon but if theres anything new feel free to reopen it.

[2021-11-19 14:19] SasikiranJ opened #901 "Get History of Conversations"
Hi , I want to get History of conversations from dialogflow. Is there anyway i can get them?

[2021-11-19 17:15] kweinmeister commented on #901
Hi @SasikiranJ, there is currently not an API for that, but this [StackOverflow answer](https://stackoverflow.com/questions/55377439/is-there-a-way-to-retrieve-the-conversation-history-in-dialogflow) shows how to do it via logging.

[2021-11-19 17:15] #901 closed

[2021-11-22 06:56] poshakjaiswal opened #902 "Detect intent with text issue with knowledgebase"
Environment details
OS: OS X 11.6
Node.js version: v12.18.3
npm version: 6.14.6
@google-cloud/dialogflow version: 3.3.0

Steps to reproduce
1.create an intent with few training phrases.
2.Create a knowledge-base and add few documents with matching phrases(Question) to the intent created in step 1.
3. Even after not specifying the knowledge base in the detect intent call as a parameter the detect i

[2021-11-23 20:37] #898 closed

[2021-12-08 00:28] peternann opened #903 "Where are Typescript typings, eg QueryResult?"
This package claims to support Typescript typings since 2.0.0, but I cannot find any of the types I expect in the package, nor any example Typescript code that uses the package.

If Typescript is indeed supported, could we get at least one working example in the example set, that is in Typescript?

1) Is this a client library issue or a product issue?
It's a library issue.

2) Did someone already

[2021-12-08 11:54] foxik384 opened #904 "Couldn't update Dialogflow Fulfillment using FulfillmentsClient.updateFulfillment"
#### Environment details

  - OS: Kubuntu Linux 20.04 (Kernel Version 5.10.0-1050-oem)
  - Node.js version: v16.13.0
  - npm version: 8.1.0
  - `@google-cloud/dialogflow` version: 4.5.0

#### Steps to reproduce

  1. Create a service account with *Dialogflow API Admin role* in Google Cloud and get credentials in JSON format
  2. Create index.js with the following content and run it:
[code]

#### A

[2021-12-09 08:12] foxik384 commented on #904
Sorry, the script from the issue shouldn't work because Dialogflow requires to specify valid URI for genericWebService. The following one should work and the issue should be reproduced on it:
[code]

[2021-12-18 17:26] hackthedev opened #911 "API not up-to-date with Dialogflow Console"
Hi so my issue is simple.

I used the smalltalk agent and added it, implemented it into my discord.js bot, updated some stuff again, but now it is working, but its not updated. It works in the Dialogflow Console on the website but doesnt work via api on my discord bot, only the old intents etc when first implementing it.

How can I fix this? I found no solution, re-saving or re-training didnt work

[2021-12-20 09:49] irdteamhk opened #912 "Cannot delete context in Mega Agent by ContextsClient.deleteContext"
1) Is this a client library issue or a product issue?
Client Library.

2) Did someone already solve this?
No related issue found.

3) Do you have a support contract?
No.

If the support paths suggested above still do not result in a resolution, please provide the following details.

#### Environment details

  - OS: Firebase Cloud Function
  - Node.js version: 14
  - npm version: //
  - `@google-c

[2021-12-28 17:28] galz10 commented on #912
Hi @irdteamhk , could you share the code that creates the context you're trying to delete

[2021-12-28 17:31] galz10 commented on #911
Hi @hackthedev how does your discord bot connect to the agent ?

[2021-12-28 17:47] galz10 commented on #903
Hi @peternann we're planning to add expected types soon, i'll create a feature request to add a typescript example. I'll close this issue out due to it not being issue it's a feature request but if anything else comes up pertaining to typescript and this library feel free to reopen or create another issue.

[2021-12-28 17:47] #903 closed

[2021-12-28 19:17] hackthedev commented on #911
Hi yes it does and it works with the smalltalk premade agent and i tried adding new intents etc but it wont work it acts like i never updated and added intents

[2021-12-29 18:03] galz10 commented on #911
okay, what code does your discord bot use to connect to the dialogflow agent ?

[2021-12-29 21:40] hackthedev commented on #911
I use this code -> https://pastebin.com/stLN09G8
Basically the only important function is "reply()" since this is the part where i try to connect to the agent, which works, but only with the old data somehow

[2021-12-30 17:37] galz10 commented on #911
Yea this is strange, and i'm guessing you're testing the same phrases that you test in the console in discord correct ? and are you getting any errors from the detect intent call ?

[2021-12-31 17:50] hackthedev commented on #911
Hi so when i insults on the web console it works perfectly it detects the intent etc when i do it in discord it is unable to detect the intent and goes for the default fallback intent saying something like "sorry i didnt get that".

Here is the web demo https://bot.dialogflow.com/fc8ca23f-6228-430c-be99-66ee663d2c94
If you say something like for example "fuck you" cauz i wanted to handle insults i

[2022-01-02 11:12] flaky-bot[bot] opened #916 "📦 pack-n-play test: TypeScript code failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: b7efcb167f5112c546961b5beb8cf6c3c880037a
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/f566

[2022-01-03 20:36] markwindsorr commented on #405
is there documentation on this yet?

[2022-01-04 19:08] galz10 commented on #911
So i ran your code and i believe the issue is with your code. Once i fixed the code i got the intents i expected.
So for when importing dialogflow you should use `const dialogflow = require('@google-cloud/dialogflow')` instead of what you have and there is no `sessionPath` function in Node so you'll need to change it to `projectAgentSessionPath`

i edited the parts of the code below to show you th

[2022-01-04 23:38] hackthedev commented on #911
Hi so i changed the code to the following code below but its still not working.

Code:
[code]

Query output:
`Detected intent
Query: fuck you ciel
Response: I didn't get that. Can you say it again?
Intent: Default Fallback Intent
`

[2022-01-05 17:39] galz10 commented on #911
That's interesting this is working for me, are you sure the correct agent is trained and you're providing the correct project id ?

[2022-01-05 18:51] hackthedev commented on #911
This is what it looks like for me
![image](https://user-images.githubusercontent.com/40896559/148270659-67dd5e7b-c766-46d1-82b2-0cb0a1c85d08.png)

I somehow get an error everytime for an agent i have already deleted as you can see here
![image](https://user-images.githubusercontent.com/40896559/148270745-cee526bd-6f56-44cf-a9ab-9ec9f2903808.png)

This is the agent i want to use
![image](https://us

[2022-01-05 20:42] SmiffyKMc commented on #904
I'm currently having this issue also like above. You are unable to update any fields in the fulfillment.

[2022-01-05 20:58] SmiffyKMc commented on #904
I think I fixed the issue. The documentation doesn't really explain to well in the example how to update the values. You need to make the fields to be changed like so:

[code]

[2022-01-06 08:13] foxik384 commented on #904
Hello @SmiffyKMc ,

Yes, you are right. By changing `genericWebService` to `generic_web_service` I can update fulfillment values.

Thank you for your comment.
I close this issue as it was fixed.

[2022-01-06 08:13] #904 closed

[2022-01-06 18:24] galz10 commented on #911
So i think the agent you've delete is the agent you're seeing in the picture with the intents, i don't know why its not deleted but my hunch is you might have changed the agent you've deleted and that's why the `bad-word` intent isn't showing up

[2022-01-06 18:30] #912 closed

[2022-01-06 18:31] galz10 commented on #912
Closed due to missing code

[2022-01-06 22:27] galz10 commented on #916
looks like this test has passed, will close it out if this happens again reassign me.

[2022-01-06 22:27] #916 closed

[2022-01-07 04:16] hackthedev commented on #911
Maybe but the strange thing is its the only agent i have so i can only get the data from this agent right?
![image](https://user-images.githubusercontent.com/40896559/148490538-736566be-4a99-4b85-a55f-5d05c995412b.png)

When i go to the cloud console i still have all the projects i've ever created
![image](https://user-images.githubusercontent.com/40896559/148490745-eeab2427-4356-41f2-82a9-d9b5cf8

[2022-01-07 17:55] galz10 commented on #911
What is the url for the first image ?

[2022-01-07 18:21] hackthedev commented on #911
First image url is https://dialogflow.cloud.google.com/#/agents

I do get the same error message for the deleted agent on this url https://dialogflow.cloud.google.com/#/agent/ciel-small-talk-cdei/intents

[2022-01-10 17:52] galz10 commented on #911
Does the url have the # in it or are the # the project id ?

[2022-01-10 22:13] hackthedev commented on #911
On the google console it looks like this:
https://console.cloud.google.com/home/dashboard?project=ciel-small-talk-cdei

And in dialogflow like this
https://dialogflow.cloud.google.com/#/editAgent/ciel-small-talk-cdei/

if that is what you mean

By the way i dont know about you but if you want to discuss this on discord for convenience my tag would be "Shy Devil#0001". Just in case.

[2022-01-11 20:28] galz10 commented on #911
if you go to `https://dialogflow.cloud.google.com/#/newAgent` in the select project dropdow, is  `ciel-small-talk-cdei` present in the list?

[2022-01-11 20:35] hackthedev commented on #911
No its actually not i only have these projects listed
![image](https://user-images.githubusercontent.com/40896559/149017151-7c3e255c-a521-41e6-b9d2-15740b510f55.png)

[2022-01-13 18:30] galz10 commented on #911
okay thats good it shouldn't be there if you have an agent. i might have already asked this but are you sure `key.project_id` is the correct project id ? The last thing is would be to export your agent to a zip and then import it into another project and see if that works.

[2022-01-13 20:43] hackthedev commented on #911
yeah key file is correct as well as its contents. I will try exporting and reimporting it into another project. I will report back if it worked or not

[2022-01-13 22:42] galz10 commented on #911
did exporting the agent and import it on a different gcp project work ?Also i thought the intent that was giving you issues is the bad word intent, do all intents other then the default (`I didn't get that. Can you say it again?`) not work

[2022-01-15 03:54] hackthedev commented on #911
Hi so the bad words intent is the smalltalk.agent.insult. this was the one i custom created. i exported it and imported it into another google project that was already existing.

All the other intents work its only the *.*.insult one thats not working

[2022-01-19 09:41] lrills opened #924 "Support updating `agentVersion` by `EnvironmentsClient.updateEnviornment()`"
Basically it's the same as #863, since it's closed somehow. Updating `agentVersion` is supported by the API now, please check this thread:
https://issuetracker.google.com/issues/153750593?pli=1

For now, I'm using this workaround:
[code]
It seems to work at the API side.

[2022-01-19 19:21] galz10 commented on #911
that's weird i don't see why this doesn't work, on my end the intents work fine. Are you sure you have your agent trained and everything ? You could also create another intent that's similar and see if that works.

[2022-01-24 18:51] hackthedev commented on #911
alright so i got it all to work now by resetting the agent and not using the "Prebuild Agent" feature "Smalltalk". I basically started doing all the intents myself and now it all works.

seems like the prebuild agent doesnt like new intents

[2022-01-24 18:51] #911 closed

[2022-01-24 21:07] galz10 commented on #911
okay i'll make a note of that thanks for letting me know.

[2022-02-14 16:48] arbc commented on #380
Any news regarding this subject? I would also like to know 🙏

[2022-02-22 15:59] rokity commented on #924
So it works at API side but not with nodejs library ?

If I understand the problem.

Thanks

[2022-02-22 16:01] rokity commented on #924
The [#863](https://github.com/googleapis/nodejs-dialogflow/issues/863) it was reopened by your mention so now it's reopened.

[2022-02-22 16:09] rokity commented on #902
Read about [this ](https://cloud.google.com/dialogflow/es/docs/knowledge-connectors), I think that it's what are you searching.

Check this [sample ](https://github.com/googleapis/nodejs-dialogflow/blob/05ea702372c08d0f0f157419799e59ea983df32a/samples/detect.v2beta1.js)for NodeJS reference.

[2022-02-24 03:40] psatyawan-wexinc commented on #394
I face this issue with our current setup, even though singleUtterance is set to false.

[2022-02-28 21:42] hshah965 commented on #380
@gad2103 @acoroleu-tempus Is this API still working? Tried updating the settings using this API by generating bearer token with a service account having Dialogflow API Admin permission and still getting an error "Method Not Found". I was able to get it work a few months ago.

[2022-03-24 20:30] kweinmeister commented on #902
The issue in this repo are for problems with the client library itself. Since there doesn't appear to be a bug with the library, we'll go ahead and close the issue. Please feel free to reopen if you have more information.

[2022-03-24 20:30] #902 closed

[2022-03-24 21:34] kweinmeister commented on #924
Hi @lrills, I believe that this feature is now in the library. Here is a sample that shows its use: https://github.com/googleapis/nodejs-dialogflow/blob/main/samples/generated/v2/environments.update_environment.js

Can you confirm it's now working for you please?

[2022-04-21 21:18] kweinmeister commented on #924
As we haven't heard back on this issue, we'll go ahead and close it. Please feel free to reopen if you have more information. Thanks!

[2022-04-21 21:18] #924 closed

[2022-05-18 12:41] AhmadIbrahiim opened #956 "`v2beta1.Sessions.StreamingDetectIntent` latency and error rate are very high"
Hello, We're noticing a significant delay between detecting the intent and receiving the audio buffer, Sometime it goes above 10s.

Once we stepped out to GCP API/Service details we saw that:
![image](https://user-images.githubusercontent.com/17949497/169040442-14eb59be-34c8-432c-bed9-7907f53b5a56.png)

AVG latency is going close to 10s and the error rate is very high as well!

This is sample of D

[2022-07-12 15:30] luxterful opened #969 "queryResult on WebhookRequest defined as optional - why?"
### My question is related to the typescript types in this library
In the [specification](https://cloud.google.com/nodejs/docs/reference/dialogflow/latest/dialogflow/protos.google.cloud.dialogflow.v2.webhookrequest#_google_cloud_dialogflow_protos_google_cloud_dialogflow_v2_WebhookRequest_queryResult_member) for WebhookRequest it says that the **queryResult** parameter is possibly undefined. But i

[2022-07-18 10:11] flaky-bot[bot] opened #970 "basic detection: should detect sentiment with intent failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 08e36aa4c4de24cbc7963f4bcf80762b892cb4c3
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/2341

[2022-08-25 13:40] markwindsorr opened #975 "Cloud function that can point to different environments for testing."
Hi, I have a cloud function that handles the dialogflow detect intent request. I have 2 custom environments on my dialogflow account (dev and prod) and am wondering where in my cloud function would I specify which environment to point too so I can test changes locally

[2022-09-17 10:15] flaky-bot[bot] opened #980 "create intent: should create an intent failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 2492264ffa536521b794eff60c60bbe2def57b9b
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/ab29

[2022-09-17 10:15] flaky-bot[bot] opened #981 "create intent: "after all" hook: delete the created intent for "should create an intent" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 2492264ffa536521b794eff60c60bbe2def57b9b
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/ab29

[2022-09-17 10:15] flaky-bot[bot] opened #982 "create a knowledge base: should create a knowledge base failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 2492264ffa536521b794eff60c60bbe2def57b9b
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/ab29

[2022-09-17 10:15] flaky-bot[bot] opened #983 "create a knowledge base: "after all" hook: delete created knowledge base for "should create a knowledge base" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 2492264ffa536521b794eff60c60bbe2def57b9b
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/ab29

[2022-09-17 10:15] flaky-bot[bot] opened #984 "create session entity type: "before all" hook: create an entity type for "should Create a Session Entity Type" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 2492264ffa536521b794eff60c60bbe2def57b9b
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/ab29